In [91]:
import pandas as pd
import numpy as np
import time
import pandas as pd
import numpy as np
import time 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [92]:
pd.set_option('display.max_columns', None)

In [93]:
Stock_price_week=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\å…¬å¸é€±è³‡æ–™_æ•´ç†.txt",encoding = 'utf-8')
Financial_statement=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\å…¬å¸è²¡å ±_æ•´ç†.txt",encoding = 'utf-8')
Index_week=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\åŸå§‹è³‡æ–™ä¸Šå¸‚ä¸‹å¸‚\å¤§ç›¤è³‡æ–™(é€±).txt",encoding = 'ANSI')
Stock_lending=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\å€Ÿåˆ¸é¤˜é¡(å­£)æ•´ç†.txt",encoding = 'utf-8')
Manager_holding=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\æŒè‚¡æ¯”ä¾‹(æœˆ)_æ•´ç†.txt",encoding = 'utf-8')
threefactor=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\ä¸‰å› å­_æ•´ç†.txt",encoding = 'utf-8')

C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Stock_price_week=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\å…¬å¸é€±è³‡æ–™_æ•´ç†.txt",encoding = 'utf-8')
C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Financial_statement=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\å…¬å¸è²¡å ±_æ•´ç†.txt",encoding = 'utf-8')
C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Manager_holding=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\æŒè‚¡æ¯”ä¾‹(æœˆ)_æ•´ç†.txt",encoding = 'utf-8')

In [94]:
threefactor.sort_values(by = 'å¹´æœˆæ—¥',inplace=True)
threefactor

,è­‰åˆ¸åç¨±,ç°¡ç¨±,å¹´æœˆæ—¥,å¸‚å ´é¢¨éšªæº¢é…¬,è¦æ¨¡æº¢é…¬ (3å› å­),è¦æ¨¡æº¢é…¬ (5å› å­),æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬,ç„¡é¢¨éšªåˆ©ç‡
0,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),1999/01/08,0.0116,-1.6850,-1.9000,0.4605,0.103846
1,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),1999/01/16,0.3429,-0.2292,-0.3637,-1.6457,0.103846
2,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),1999/01/22,-4.4706,-1.0339,-0.9939,1.7745,0.103846
3,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),1999/01/30,-4.2284,0.4518,0.4267,0.0452,0.103846
4,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),1999/02/06,-4.4886,-4.4769,-5.3726,-4.2656,0.100000
...,...,...,...,...,...,...,...,...
1252,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),2023/03/31,-0.4348,0.4710,0.5111,0.3337,0.030288
1253,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),2023/04/07,-0.2645,0.4348,0.5337,0.7525,0.030288
1254,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),2023/04/14,0.4599,1.6629,1.8206,1.2426,0.030288
1255,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),2023/04/21,-2.4736,0.0891,-0.0950,0.5160,0.030288
1256,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),2023/04/28,-0.2103,1.6098,1.6334,0.8247,0.030288

In [95]:
threefactor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 1256
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   è­‰åˆ¸åç¨±        1257 non-null   object
 1   ç°¡ç¨±          1257 non-null   object
 2   å¹´æœˆæ—¥         1257 non-null   object
 3   å¸‚å ´é¢¨éšªæº¢é…¬      1257 non-null   float64
 4   è¦æ¨¡æº¢é…¬ (3å› å­)  1257 non-null   float64
 5   è¦æ¨¡æº¢é…¬ (5å› å­)  1257 non-null   float64
 6   æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬     1257 non-null   float64
 7   ç„¡é¢¨éšªåˆ©ç‡       1257 non-null   float64
dtypes: float64(5), object(3)
memory usage: 88.4+ KB

In [96]:
Stock_price_week

,è­‰åˆ¸ä»£ç¢¼,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,æ”¶ç›¤åƒ¹(å…ƒ),æˆäº¤é‡(åƒè‚¡),å ±é…¬ç‡ï¼…,é€±è½‰ç‡ï¼…,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å¸‚å€¼(ç™¾è¬å…ƒ),å ±é…¬ç‡-Ln,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,å¹´æœˆ,å¹´æœˆ_id
0,1101,å°æ³¥,1,1993/01/09,50.00,11262,-0.9901,1.2241,920000,46000,-0.9950,2.67,1993/01,1101/1993/01
1,2706,ç¬¬ä¸€åº—,16,1993/01/09,42.20,4089,-7.0485,6.1856,66105,2790,-7.3093,3.18,1993/01,2706/1993/01
2,2901,æ¬£æ¬£,18,1993/01/09,58.50,3027,-8.5937,5.1466,58816,3441,-8.9855,4.24,1993/01,2901/1993/01
3,2903,é ç™¾,18,1993/01/09,32.20,2468,-7.2047,0.6685,369204,11888,-7.4773,1.96,1993/01,2903/1993/01
4,2904,åŒ¯åƒ‘,20,1993/01/09,15.90,3532,-1.8518,4.4150,80000,1272,-1.8692,2.88,1993/01,2904/1993/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1672391,3048,ç›Šç™»,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04
1672392,3047,è¨ŠèˆŸ,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04
1672393,3046,å»ºç¢,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04
1672394,3056,å¯Œè¯æ–°,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04
1672395,9962,æœ‰ç›Š,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04

In [97]:
Financial_statement

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801
...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663

In [98]:
Stock_price_week=Stock_price_week.drop(Stock_price_week[Stock_price_week['å¹´æœˆæ—¥']<="1994/05/01"].index)
Stock_price_week.reset_index(drop=True, inplace=True)

In [99]:
# Stock_price_week.drop(['å‰æœˆå¹³å‡å ±é…¬ç‡-Ln','å‰æœˆæ¨™æº–å·®','å‰ä¸€å¹´æ¨™æº–å·®'], axis=1, inplace=True)

In [100]:
date=pd.read_table(r"C:\Users\USER\Desktop\è«–æ–‡\åŸå§‹è³‡æ–™\date(å­£).txt")
date_dic=dict(zip(date['Date'],date['Finance_report_date']))
Use_report_date=[]
for od in Stock_price_week['å¹´æœˆæ—¥']:
    Use_report_date.append(date_dic[od])

In [101]:
Stock_price_week['è²¡å ±ä½¿ç”¨å¹´åº¦']=Use_report_date
Stock_price_week[['ç°¡ç¨±','å¹´æœˆæ—¥','è²¡å ±ä½¿ç”¨å¹´åº¦']]

          ç°¡ç¨±         å¹´æœˆæ—¥   è²¡å ±ä½¿ç”¨å¹´åº¦
0         ä¸­ç´¡  1994/05/07  1994/03
1         æƒ å‹  1994/05/07  1994/03
2         ç«‹å¤§  1994/05/07  1994/03
3        é †å¤§è£•  1994/05/07  1994/03
4         å°šå¾·  1994/05/07  1994/03
...      ...         ...      ...
1655505   ç›Šç™»  2023/04/28  2022/12
1655506   è¨ŠèˆŸ  2023/04/28  2022/12
1655507   å»ºç¢  2023/04/28  2022/12
1655508  å¯Œè¯æ–°  2023/04/28  2022/12
1655509   æœ‰ç›Š  2023/04/28  2022/12

[1655510 rows x 3 columns]

In [102]:
# é–‹å§‹æ¸¬é‡
start = time.time()

# è¦æ¸¬é‡çš„ç¨‹å¼ç¢¼
Stock_price_week['id']=Stock_price_week["è­‰åˆ¸ä»£ç¢¼"].astype('str')+Stock_price_week["è²¡å ±ä½¿ç”¨å¹´åº¦"]
Financial_statement["id"]=Financial_statement["å…¬å¸"].astype('str')+Financial_statement["å¹´/æœˆ"]
# çµæŸæ¸¬é‡
end = time.time()

# è¼¸å‡ºçµæœ
print("åŸ·è¡Œæ™‚é–“ï¼š%f ç§’" % (end - start))

åŸ·è¡Œæ™‚é–“ï¼š0.296213 ç§’

In [103]:
Financial_statement.isnull().sum()

å…¬å¸              0
ç°¡ç¨±              0
TSE ç”¢æ¥­åˆ¥         0
å¹´/æœˆ             0
å­£åˆ¥              0
è² å‚µæ¯”ä¾‹            0
è³‡ç”¢å ±é…¬ç‡           0
å‰æœŸéå»¶æ‰€å¾—ç¨…         0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡        0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡          0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸    0
id              0
dtype: int64

In [104]:
Stock_price_week

,è­‰åˆ¸ä»£ç¢¼,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,æ”¶ç›¤åƒ¹(å…ƒ),æˆäº¤é‡(åƒè‚¡),å ±é…¬ç‡ï¼…,é€±è½‰ç‡ï¼…,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å¸‚å€¼(ç™¾è¬å…ƒ),å ±é…¬ç‡-Ln,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,å¹´æœˆ,å¹´æœˆ_id,è²¡å ±ä½¿ç”¨å¹´åº¦,id
0,1408,ä¸­ç´¡,4,1994/05/07,16.90,95813,2.4242,11.2851,849019,14348,2.3954,1.43,1994/05,1408/1994/05,1994/03,14081994/03
1,1224,æƒ å‹,80,1994/05/07,33.60,1364,-1.1765,1.7947,76000,2553,-1.1835,3.41,1994/05,1224/1994/05,1994/03,12241994/03
2,8724,ç«‹å¤§,80,1994/05/07,52.50,9321,14.6287,8.5046,109600,5754,13.6528,4.43,1994/05,8724/1994/05,1994/03,87241994/03
3,8723,é †å¤§è£•,80,1994/05/07,66.50,652,0.7576,0.8981,72600,4827,0.7547,4.25,1994/05,8723/1994/05,1994/03,87231994/03
4,8722,å°šå¾·,80,1994/05/07,32.20,32983,9.1527,32.9830,100000,3220,8.7576,3.14,1994/05,8722/1994/05,1994/03,87221994/03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655505,3048,ç›Šç™»,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12
1655506,3047,è¨ŠèˆŸ,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12
1655507,3046,å»ºç¢,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12
1655508,3056,å¯Œè¯æ–°,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12
1655509,9962,æœ‰ç›Š,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12

In [105]:
#è¨ˆç®—åŸå§‹æ¨™æº–å·®
# é–‹å§‹æ¸¬é‡
start = time.time()
std=Stock_price_week.groupby("id")["å ±é…¬ç‡ï¼…"].agg(np.std,ddof = 1)
#å°‡seriesè®ŠæˆDataFrame
std=pd.DataFrame(std)
print(std)
#åŠ å…¥index
std.reset_index(inplace=True)
std.rename(columns={"å ±é…¬ç‡ï¼…":"åŸå§‹æ¨™æº–å·®"},inplace=True)


Financial_statement=pd.merge( Financial_statement, std , on='id', how='left')



end = time.time()

# è¼¸å‡ºçµæœ
print("åŸ·è¡Œæ™‚é–“ï¼š%f ç§’" % (end - start))

                   å ±é…¬ç‡ï¼…
id
11011994/03    1.922434
11011994/06    4.418306
11011994/09    2.989053
11011995/03    3.987652
11011995/06    4.037547
...                 ...
L23012001/03   6.044111
L23012001/06  11.361548
L23012001/09   6.604501
L23012002/03   6.554465
L23012002/06   8.252476

[112508 rows x 1 columns]
åŸ·è¡Œæ™‚é–“ï¼š9.255834 ç§’

In [106]:
Financial_statement[Financial_statement['åŸå§‹æ¨™æº–å·®'].isnull()==True]

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN

In [107]:
# a=list(std['id'])

In [108]:
# b=list(pd.DataFrame(Financial_statement.groupby('id').size()).index)

In [109]:
# print(len(a))
# print(len(b))

In [110]:
# print(set(a)^set(b))

In [111]:
# print(len(set(a)^set(b)))

In [112]:
# Stock_price_week[Stock_price_week['id']=='62132006/12']

In [113]:
# Financial_statement[Financial_statement['id']=='62132006/12']

In [114]:
Stock_price_week['ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…']=Stock_price_week.groupby('è­‰åˆ¸ä»£ç¢¼')['é€±è½‰ç‡ï¼…'].rolling(3).mean().reset_index(level=0, drop=True)
Stock_price_week['å‰ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…']=Stock_price_week.groupby('è­‰åˆ¸ä»£ç¢¼')['ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…'].shift(1)
Stock_price_week['å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…']=Stock_price_week['é€±è½‰ç‡ï¼…']-Stock_price_week['å‰ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…']
Stock_price_week.drop(['ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…','å‰ä¸‰é€±å¹³å‡é€±è½‰ç‡ï¼…'],axis=1,inplace=True)

In [115]:
Stock_price_week

,è­‰åˆ¸ä»£ç¢¼,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,æ”¶ç›¤åƒ¹(å…ƒ),æˆäº¤é‡(åƒè‚¡),å ±é…¬ç‡ï¼…,é€±è½‰ç‡ï¼…,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å¸‚å€¼(ç™¾è¬å…ƒ),å ±é…¬ç‡-Ln,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,å¹´æœˆ,å¹´æœˆ_id,è²¡å ±ä½¿ç”¨å¹´åº¦,id,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…
0,1408,ä¸­ç´¡,4,1994/05/07,16.90,95813,2.4242,11.2851,849019,14348,2.3954,1.43,1994/05,1408/1994/05,1994/03,14081994/03,NaN
1,1224,æƒ å‹,80,1994/05/07,33.60,1364,-1.1765,1.7947,76000,2553,-1.1835,3.41,1994/05,1224/1994/05,1994/03,12241994/03,NaN
2,8724,ç«‹å¤§,80,1994/05/07,52.50,9321,14.6287,8.5046,109600,5754,13.6528,4.43,1994/05,8724/1994/05,1994/03,87241994/03,NaN
3,8723,é †å¤§è£•,80,1994/05/07,66.50,652,0.7576,0.8981,72600,4827,0.7547,4.25,1994/05,8723/1994/05,1994/03,87231994/03,NaN
4,8722,å°šå¾·,80,1994/05/07,32.20,32983,9.1527,32.9830,100000,3220,8.7576,3.14,1994/05,8722/1994/05,1994/03,87221994/03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655505,3048,ç›Šç™»,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12,0.221800
1655506,3047,è¨ŠèˆŸ,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12,-5.030300
1655507,3046,å»ºç¢,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12,-33.878267
1655508,3056,å¯Œè¯æ–°,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12,-6.477700
1655509,9962,æœ‰ç›Š,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12,-7.825300

In [116]:
# Stock_price_week.groupby('id')['é€±è½‰ç‡ï¼…'].mean()
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['é€±è½‰ç‡ï¼…'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['å ±é…¬ç‡ï¼…'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['å¸‚å€¼(ç™¾è¬å…ƒ)'].mean() , on='id', how='left')



# #å»è¶¨å‹¢å‘¨è½‰ç‡
# Financial_statement['ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…']=Financial_statement.groupby('å…¬å¸')['é€±è½‰ç‡ï¼…'].rolling(3).mean().reset_index(level=0, drop=True)
# Financial_statement['å‰ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…']=Financial_statement.groupby('å…¬å¸')['ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…'].shift(1)
# Financial_statement['å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…']=Financial_statement['é€±è½‰ç‡ï¼…']-Financial_statement['å‰ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…']
# Financial_statement.drop(['ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…','å‰ä¸‰æœŸå¹³å‡é€±è½‰ç‡ï¼…'],axis=1,inplace=True)

In [117]:
# Stock_price_week.groupby('id')['å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…'].mean().describe()

In [118]:
Financial_statement[Financial_statement['åŸå§‹æ¨™æº–å·®'].isnull()==True]

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ)
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
Stock_price_week.isnull().sum()

è­‰åˆ¸ä»£ç¢¼             0
ç°¡ç¨±               0
TSE ç”¢æ¥­åˆ¥          0
å¹´æœˆæ—¥              0
æ”¶ç›¤åƒ¹(å…ƒ)           0
æˆäº¤é‡(åƒè‚¡)          0
å ±é…¬ç‡ï¼…             0
é€±è½‰ç‡ï¼…             0
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)       0
å¸‚å€¼(ç™¾è¬å…ƒ)          0
å ±é…¬ç‡-Ln           0
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ        0
å¹´æœˆ               0
å¹´æœˆ_id            0
è²¡å ±ä½¿ç”¨å¹´åº¦           0
id               0
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…     8706
dtype: int64

In [120]:
Financial_statement.isnull().sum()

å…¬å¸                  0
ç°¡ç¨±                  0
TSE ç”¢æ¥­åˆ¥             0
å¹´/æœˆ                 0
å­£åˆ¥                  0
è² å‚µæ¯”ä¾‹                0
è³‡ç”¢å ±é…¬ç‡               0
å‰æœŸéå»¶æ‰€å¾—ç¨…             0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡            0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡              0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸        0
id                  0
åŸå§‹æ¨™æº–å·®           36960
é€±è½‰ç‡ï¼…            36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…       37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ       36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)      36806
å ±é…¬ç‡ï¼…            36806
å¸‚å€¼(ç™¾è¬å…ƒ)         36806
dtype: int64

In [121]:
Financial_statement.isnull().sum()

å…¬å¸                  0
ç°¡ç¨±                  0
TSE ç”¢æ¥­åˆ¥             0
å¹´/æœˆ                 0
å­£åˆ¥                  0
è² å‚µæ¯”ä¾‹                0
è³‡ç”¢å ±é…¬ç‡               0
å‰æœŸéå»¶æ‰€å¾—ç¨…             0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡            0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡              0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸        0
id                  0
åŸå§‹æ¨™æº–å·®           36960
é€±è½‰ç‡ï¼…            36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…       37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ       36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)      36806
å ±é…¬ç‡ï¼…            36806
å¸‚å€¼(ç™¾è¬å…ƒ)         36806
dtype: int64

In [122]:
Financial_statement.isnull().sum()

å…¬å¸                  0
ç°¡ç¨±                  0
TSE ç”¢æ¥­åˆ¥             0
å¹´/æœˆ                 0
å­£åˆ¥                  0
è² å‚µæ¯”ä¾‹                0
è³‡ç”¢å ±é…¬ç‡               0
å‰æœŸéå»¶æ‰€å¾—ç¨…             0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡            0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡              0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸        0
id                  0
åŸå§‹æ¨™æº–å·®           36960
é€±è½‰ç‡ï¼…            36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…       37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ       36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)      36806
å ±é…¬ç‡ï¼…            36806
å¸‚å€¼(ç™¾è¬å…ƒ)         36806
dtype: int64

In [123]:
Index_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   è­‰åˆ¸ä»£ç¢¼       1571 non-null   object
 1   ç°¡ç¨±         1571 non-null   object
 2   å¹´æœˆæ—¥        1571 non-null   int64
 3   æ”¶ç›¤åƒ¹(å…ƒ)     1571 non-null   float64
 4   æˆäº¤é‡(åƒè‚¡)_é€±  1571 non-null   int64
 5   å ±é…¬ç‡ï¼…_é€±     1571 non-null   float64
 6   é€±è½‰ç‡ï¼…_é€±     1571 non-null   float64
 7   å ±é…¬ç‡-Ln_é€±   1571 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 98.3+ KB

In [124]:
Index_week['å¹´æœˆæ—¥']=Index_week['å¹´æœˆæ—¥'].astype(str)
Index_week['å¹´æœˆæ—¥']=Index_week['å¹´æœˆæ—¥'].str[0:4]+'/'+Index_week['å¹´æœˆæ—¥'].str[4:6]+'/'+Index_week['å¹´æœˆæ—¥'].str[6:8]

Index_week=Index_week.drop(Index_week[Index_week['å¹´æœˆæ—¥']<="1994/05/01"].index)
Index_week.reset_index(drop=True, inplace=True)

Use_report_date=[]
for od in Index_week['å¹´æœˆæ—¥']:
    Use_report_date.append(date_dic[od])

In [125]:
Index_week['å¹´/æœˆ']=Use_report_date
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("å¹´/æœˆ")['å ±é…¬ç‡ï¼…_é€±'].agg(np.std,ddof = 1) , on='å¹´/æœˆ', how='left')
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("å¹´/æœˆ")['é€±è½‰ç‡ï¼…_é€±'].mean() , on='å¹´/æœˆ', how='left')
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("å¹´/æœˆ")['æˆäº¤é‡(åƒè‚¡)_é€±'].mean() , on='å¹´/æœˆ', how='left')

Financial_statement.rename(columns={'å ±é…¬ç‡ï¼…_é€±': 'å¤§ç›¤æ¨™æº–å·®','é€±è½‰ç‡ï¼…_é€±': 'å¤§ç›¤é€±è½‰ç‡' ,'æˆäº¤é‡(åƒè‚¡)_é€±':'å¤§ç›¤æˆäº¤é‡(åƒè‚¡)'},inplace=True)

In [126]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   å…¬å¸            144803 non-null  object
 1   ç°¡ç¨±            144803 non-null  object
 2   TSE ç”¢æ¥­åˆ¥       144803 non-null  int64
 3   å¹´/æœˆ           144803 non-null  object
 4   å­£åˆ¥            144803 non-null  int64
 5   è² å‚µæ¯”ä¾‹          144803 non-null  float64
 6   è³‡ç”¢å ±é…¬ç‡         144803 non-null  float64
 7   å‰æœŸéå»¶æ‰€å¾—ç¨…       144803 non-null  float64
 8   éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡      144803 non-null  float64
 9   ç¾é‡‘æœ‰æ•ˆç¨…ç‡        144803 non-null  float64
 10  è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸  144803 non-null  float64
 11  id            144803 non-null  object
 12  åŸå§‹æ¨™æº–å·®         107843 non-null  float64
 13  é€±è½‰ç‡ï¼…          107997 non-null  float64
 14  å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…     107727 non-null  float64
 15  è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ     107997 non-null  float64
 16  æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)    107997 non-null  float64
 17  å ±é…¬ç‡ï¼…          107997 non-null  float64
 18  å¸‚å€¼(ç™¾è¬å…ƒ)       107997 non-null  float64
 19  å¤§ç›¤æ¨™æº–å·®         119095 non-null  float64
 20  å¤§ç›¤é€±è½‰ç‡         119095 non-null  float64
 21  å¤§ç›¤æˆäº¤é‡(åƒè‚¡)     119095 non-null  float64
dtypes: float64(16), int64(2), object(4)
memory usage: 25.4+ MB

In [127]:
Financial_statement.isnull().sum()

å…¬å¸                  0
ç°¡ç¨±                  0
TSE ç”¢æ¥­åˆ¥             0
å¹´/æœˆ                 0
å­£åˆ¥                  0
è² å‚µæ¯”ä¾‹                0
è³‡ç”¢å ±é…¬ç‡               0
å‰æœŸéå»¶æ‰€å¾—ç¨…             0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡            0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡              0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸        0
id                  0
åŸå§‹æ¨™æº–å·®           36960
é€±è½‰ç‡ï¼…            36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…       37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ       36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)      36806
å ±é…¬ç‡ï¼…            36806
å¸‚å€¼(ç™¾è¬å…ƒ)         36806
å¤§ç›¤æ¨™æº–å·®           25708
å¤§ç›¤é€±è½‰ç‡           25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)       25708
dtype: int64

In [128]:
Index_week.rename(columns={'å ±é…¬ç‡ï¼…_é€±': 'å¤§ç›¤å ±é…¬ç‡ï¼…',
                            'é€±è½‰ç‡ï¼…_é€±':'å¤§ç›¤é€±è½‰ç‡ï¼…',
                            'æ”¶ç›¤åƒ¹(å…ƒ)': 'å¤§ç›¤æ”¶ç›¤åƒ¹(å…ƒ)',
                            'æˆäº¤é‡(åƒè‚¡)_é€±':'å¤§ç›¤æˆäº¤é‡(åƒè‚¡)',
                            'å ±é…¬ç‡-Ln_é€±':'å¤§ç›¤å ±é…¬ç‡-Ln'},inplace=True)

In [129]:
# Index_week['å¤§ç›¤å‰ä¸€æœŸå ±é…¬ç‡ï¼…']=Index_week['å¤§ç›¤å ±é…¬ç‡ï¼…'].shift(1)
# Index_week['å¤§ç›¤å‰äºŒæœŸå ±é…¬ç‡ï¼…']=Index_week['å¤§ç›¤å ±é…¬ç‡ï¼…'].shift(2)
# Index_week['å¤§ç›¤ä¸‹ä¸€æœŸå ±é…¬ç‡ï¼…']=Index_week['å¤§ç›¤å ±é…¬ç‡ï¼…'].shift(-1)
# Index_week['å¤§ç›¤ä¸‹äºŒæœŸå ±é…¬ç‡ï¼…']=Index_week['å¤§ç›¤å ±é…¬ç‡ï¼…'].shift(-2)

In [130]:
print(Index_week.isnull().sum())
Index_week.dropna(axis=0, how='any',inplace=True)
Index_week.reset_index(drop=True, inplace=True)

è­‰åˆ¸ä»£ç¢¼         0
ç°¡ç¨±           0
å¹´æœˆæ—¥          0
å¤§ç›¤æ”¶ç›¤åƒ¹(å…ƒ)     0
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)    0
å¤§ç›¤å ±é…¬ç‡ï¼…       0
å¤§ç›¤é€±è½‰ç‡ï¼…       0
å¤§ç›¤å ±é…¬ç‡-Ln     0
å¹´/æœˆ          0
dtype: int64

In [131]:
# Stock_price_week=pd.merge(Stock_price_week,Index_week,on='å¹´æœˆæ—¥',how='left')

In [132]:
Stock_price_week=pd.merge(Stock_price_week,threefactor,on='å¹´æœˆæ—¥',how='left')

In [133]:
# threefactor

In [134]:
Stock_price_week.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655510 entries, 0 to 1655509
Data columns (total 24 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   è­‰åˆ¸ä»£ç¢¼        1655510 non-null  object
 1   ç°¡ç¨±_x        1655510 non-null  object
 2   TSE ç”¢æ¥­åˆ¥     1655510 non-null  int64
 3   å¹´æœˆæ—¥         1655510 non-null  object
 4   æ”¶ç›¤åƒ¹(å…ƒ)      1655510 non-null  float64
 5   æˆäº¤é‡(åƒè‚¡)     1655510 non-null  int64
 6   å ±é…¬ç‡ï¼…        1655510 non-null  float64
 7   é€±è½‰ç‡ï¼…        1655510 non-null  float64
 8   æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)  1655510 non-null  int64
 9   å¸‚å€¼(ç™¾è¬å…ƒ)     1655510 non-null  int64
 10  å ±é…¬ç‡-Ln      1655510 non-null  float64
 11  è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ   1655510 non-null  float64
 12  å¹´æœˆ          1655510 non-null  object
 13  å¹´æœˆ_id       1655510 non-null  object
 14  è²¡å ±ä½¿ç”¨å¹´åº¦      1655510 non-null  object
 15  id          1655510 non-null  object
 16  å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…   1646804 non-null  float64
 17  è­‰åˆ¸åç¨±        1561486 non-null  object
 18  ç°¡ç¨±_y        1561486 non-null  object
 19  å¸‚å ´é¢¨éšªæº¢é…¬      1561486 non-null  float64
 20  è¦æ¨¡æº¢é…¬ (3å› å­)  1561486 non-null  float64
 21  è¦æ¨¡æº¢é…¬ (5å› å­)  1561486 non-null  float64
 22  æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬     1561486 non-null  float64
 23  ç„¡é¢¨éšªåˆ©ç‡       1561486 non-null  float64
dtypes: float64(11), int64(4), object(9)
memory usage: 315.8+ MB

In [135]:
Stock_price_week.isnull().sum()

è­‰åˆ¸ä»£ç¢¼              0
ç°¡ç¨±_x              0
TSE ç”¢æ¥­åˆ¥           0
å¹´æœˆæ—¥               0
æ”¶ç›¤åƒ¹(å…ƒ)            0
æˆäº¤é‡(åƒè‚¡)           0
å ±é…¬ç‡ï¼…              0
é€±è½‰ç‡ï¼…              0
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)        0
å¸‚å€¼(ç™¾è¬å…ƒ)           0
å ±é…¬ç‡-Ln            0
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ         0
å¹´æœˆ                0
å¹´æœˆ_id             0
è²¡å ±ä½¿ç”¨å¹´åº¦            0
id                0
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…      8706
è­‰åˆ¸åç¨±          94024
ç°¡ç¨±_y          94024
å¸‚å ´é¢¨éšªæº¢é…¬        94024
è¦æ¨¡æº¢é…¬ (3å› å­)    94024
è¦æ¨¡æº¢é…¬ (5å› å­)    94024
æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬       94024
ç„¡é¢¨éšªåˆ©ç‡         94024
dtype: int64

In [136]:
Stock_price_week.dropna(axis=0, how='any',inplace=True)
Stock_price_week.reset_index(drop=True, inplace=True)

In [137]:
Stock_price_week

,è­‰åˆ¸ä»£ç¢¼,ç°¡ç¨±_x,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,æ”¶ç›¤åƒ¹(å…ƒ),æˆäº¤é‡(åƒè‚¡),å ±é…¬ç‡ï¼…,é€±è½‰ç‡ï¼…,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å¸‚å€¼(ç™¾è¬å…ƒ),å ±é…¬ç‡-Ln,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,å¹´æœˆ,å¹´æœˆ_id,è²¡å ±ä½¿ç”¨å¹´åº¦,id,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è­‰åˆ¸åç¨±,ç°¡ç¨±_y,å¸‚å ´é¢¨éšªæº¢é…¬,è¦æ¨¡æº¢é…¬ (3å› å­),è¦æ¨¡æº¢é…¬ (5å› å­),æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬,ç„¡é¢¨éšªåˆ©ç‡
0,5605,é èˆª,15,1999/01/08,21.90,165,-4.7826,0.0280,589451,12908,-4.9008,1.76,1999/01,5605/1999/01,1998/09,56051998/09,-0.078600,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),0.0116,-1.6850,-1.9000,0.4605,0.103846
1,5602,æ¦®æ«ƒ,15,1999/01/08,27.50,776,2.6119,0.2840,273280,7515,2.5784,1.53,1999/01,5602/1999/01,1998/09,56021998/09,-0.082167,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),0.0116,-1.6850,-1.9000,0.4605,0.103846
2,5528,å»£å¤§,14,1999/01/08,27.90,301,-11.7089,0.5017,60000,1674,-12.4530,2.03,1999/01,5528/1999/01,1998/09,55281998/09,0.118933,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),0.0116,-1.6850,-1.9000,0.4605,0.103846
3,5506,é•·é´»,14,1999/01/08,25.20,280,-8.6956,0.2489,112500,2835,-9.0972,1.46,1999/01,5506/1999/01,1998/09,55061998/09,-0.095700,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),0.0116,-1.6850,-1.9000,0.4605,0.103846
4,5503,æ¦®ç¾é–‹ç™¼,14,1999/01/08,17.40,1347,-14.2857,0.8018,168000,2923,-15.4151,1.31,1999/01,5503/1999/01,1998/09,55031998/09,-0.148000,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),0.0116,-1.6850,-1.9000,0.4605,0.103846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554406,3048,ç›Šç™»,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12,0.221800,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),-0.2103,1.6098,1.6334,0.8247,0.030288
1554407,3047,è¨ŠèˆŸ,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12,-5.030300,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),-0.2103,1.6098,1.6334,0.8247,0.030288
1554408,3046,å»ºç¢,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12,-33.878267,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),-0.2103,1.6098,1.6334,0.8247,0.030288
1554409,3056,å¯Œè¯æ–°,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12,-6.477700,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),-0.2103,1.6098,1.6334,0.8247,0.030288
1554410,9962,æœ‰ç›Š,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12,-7.825300,Z8888L,ä¸Šå¸‚ï¼‹ä¸Šæ«ƒ(ä¸å«é‡‘è),-0.2103,1.6098,1.6334,0.8247,0.030288

In [138]:
# Stock_price_week.drop(['è­‰åˆ¸ä»£ç¢¼_y','ç°¡ç¨±_y'],axis=1,inplace=True)
# Stock_price_week.rename(columns={"è­‰åˆ¸ä»£ç¢¼_x":"è­‰åˆ¸ä»£ç¢¼","ç°¡ç¨±_x":"ç°¡ç¨±"},inplace=True)

In [139]:
Stock_price_week.drop(['ç°¡ç¨±_y'],axis=1,inplace=True)
Stock_price_week.rename(columns={"ç°¡ç¨±_x":"ç°¡ç¨±"},inplace=True)

In [140]:
# X=Stock_price_week[['å¤§ç›¤å‰ä¸€æœŸå ±é…¬ç‡ï¼…','å¤§ç›¤å‰äºŒæœŸå ±é…¬ç‡ï¼…','å¤§ç›¤å ±é…¬ç‡ï¼…','å¤§ç›¤ä¸‹ä¸€æœŸå ±é…¬ç‡ï¼…','å¤§ç›¤ä¸‹äºŒæœŸå ±é…¬ç‡ï¼…']]
# Y=Stock_price_week['å ±é…¬ç‡ï¼…']
# X=sm.add_constant(X) 
# results=sm.OLS(endog=Y, exog=X).fit()
# results.summary()

In [141]:
#capm
X=Stock_price_week[['å¸‚å ´é¢¨éšªæº¢é…¬']]
Y=Stock_price_week['å ±é…¬ç‡ï¼…']-Stock_price_week['ç„¡é¢¨éšªåˆ©ç‡']
X=sm.add_constant(X) 
results=sm.OLS(endog=Y, exog=X).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.164
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                 3.043e+05
Date:                Fri, 03 Nov 2023   Prob (F-statistic):               0.00
Time:                        02:53:48   Log-Likelihood:            -4.9147e+06
No. Observations:             1554411   AIC:                         9.829e+06
Df Residuals:                 1554409   BIC:                         9.829e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1022      0.005     22.290      0.000       0.093       0.111
å¸‚å ´é¢¨éšªæº¢é…¬         0.8916      0.002    551.596      0.000       0.888       0.895
==============================================================================
Omnibus:                   536781.216   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6905931.792
Skew:                           1.299   Prob(JB):                         0.00
Kurtosis:                      12.994   Cond. No.                         2.84
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [142]:
# # ä¸‰å› å­
# X=Stock_price_week[['ç„¡é¢¨éšªåˆ©ç‡','å¸‚å ´é¢¨éšªæº¢é…¬','è¦æ¨¡æº¢é…¬ (3å› å­)','æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬']]
# Y=Stock_price_week['å ±é…¬ç‡ï¼…']-Stock_price_week['ç„¡é¢¨éšªåˆ©ç‡']
# X=sm.add_constant(X) 
# results=sm.OLS(endog=Y, exog=X).fit()
# results.summary()

In [143]:
Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…']=np.log(1+(results.resid/100))
# Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…']=results.resid
Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3']=Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…']**3
Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2']=Stock_price_week['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…']**2

In [144]:
#ç®—å‡ºæ¯é–“å…¬å¸ä¸åŒè²¡å ±å¹´æœˆä»½çš„å¤©æ•¸
# Stock_price_week['yearmonid']=Stock_price_week['è­‰åˆ¸ä»£ç¢¼'].astype('str')+Stock_price_week['å¹´æœˆ']
# c=Stock_price_week.groupby('yearmonid')['yearmonid'].count()
# c=pd.DataFrame(c)
# c.rename(columns={'yearmonid':"n"},inplace=True)
# c.reset_index(inplace=True)


c=Stock_price_week.groupby('id')['id'].count()
c=pd.DataFrame(c)
c.rename(columns={'id':"n"},inplace=True)
c.reset_index(inplace=True)

In [145]:
c

                  id   n
0        11011998/09  17
1        11011999/03  17
2        11011999/06   9
3        11011999/09  26
4        11012000/03  17
...              ...  ..
106873  L23012001/03  18
106874  L23012001/06   8
106875  L23012001/09  26
106876  L23012002/03  18
106877  L23012002/06   8

[106878 rows x 2 columns]

In [146]:
Financial_statement

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ),å¤§ç›¤æ¨™æº–å·®,å¤§ç›¤é€±è½‰ç‡,å¤§ç›¤æˆäº¤é‡(åƒè‚¡)
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
Financial_statement=pd.DataFrame(pd.merge(Financial_statement,c,on='id',how='left'))
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…'].mean(),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…'].agg(np.std,ddof = 1),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3'].sum(),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2'].sum(),on='id',how='left')

In [148]:
Financial_statement

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ),å¤§ç›¤æ¨™æº–å·®,å¤§ç›¤é€±è½‰ç‡,å¤§ç›¤æˆäº¤é‡(åƒè‚¡),n,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…_x,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…_y,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# Stock_price_week.drop(['å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3_x','å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2_x'],axis=1,inplace=True)
# Stock_price_week.rename(columns={'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3_y': 'sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3',
#                    'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2_y':'sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2',
#                   },inplace=True)

Financial_statement.rename(columns={
                    'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…_x':'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…',
                    'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…_y':'å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®',
                    'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3': 'sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3',
                    'å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2':'sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2',
                   },inplace=True)

In [150]:
n=Financial_statement['n']
sumw3=Financial_statement['sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3']
sumw2=Financial_statement['sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2']**(3/2)

Financial_statement['NCSKEW']=-1*(n*((n-1)**(3/2))*sumw3 )/((n-1)*(n-2)*sumw2)

In [151]:
Financial_statement.isnull().sum()

å…¬å¸                   0
ç°¡ç¨±                   0
TSE ç”¢æ¥­åˆ¥              0
å¹´/æœˆ                  0
å­£åˆ¥                   0
è² å‚µæ¯”ä¾‹                 0
è³‡ç”¢å ±é…¬ç‡                0
å‰æœŸéå»¶æ‰€å¾—ç¨…              0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡             0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡               0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸         0
id                   0
åŸå§‹æ¨™æº–å·®            36960
é€±è½‰ç‡ï¼…             36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…        37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ        36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)       36806
å ±é…¬ç‡ï¼…             36806
å¸‚å€¼(ç™¾è¬å…ƒ)          36806
å¤§ç›¤æ¨™æº–å·®            25708
å¤§ç›¤é€±è½‰ç‡            25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)        25708
n                42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…         42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®       42406
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3    42291
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2    42291
NCSKEW           42406
dtype: int64

In [152]:
# #è¨ˆç®—ç¨æœ‰å ±é…¬ç‡çš„æ¨™æº–å·®
# # é–‹å§‹æ¸¬é‡
# start = time.time()
# std=Stock_price_week.groupby("id")["å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…"].agg(np.std,ddof = 1)
# #å°‡seriesè®ŠæˆDataFrame
# std=pd.DataFrame(std)
# print(std)
# #åŠ å…¥index
# std.reset_index(inplace=True)
# std.rename(columns={"å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…":"å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®"},inplace=True)


# Financial_statement=pd.merge(Financial_statement,std,on='id',how='left')

# end = time.time()

# # è¼¸å‡ºçµæœ
# print("åŸ·è¡Œæ™‚é–“ï¼š%f ç§’" % (end - start))

In [153]:
Financial_statement.isnull().sum()

å…¬å¸                   0
ç°¡ç¨±                   0
TSE ç”¢æ¥­åˆ¥              0
å¹´/æœˆ                  0
å­£åˆ¥                   0
è² å‚µæ¯”ä¾‹                 0
è³‡ç”¢å ±é…¬ç‡                0
å‰æœŸéå»¶æ‰€å¾—ç¨…              0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡             0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡               0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸         0
id                   0
åŸå§‹æ¨™æº–å·®            36960
é€±è½‰ç‡ï¼…             36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…        37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ        36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)       36806
å ±é…¬ç‡ï¼…             36806
å¸‚å€¼(ç™¾è¬å…ƒ)          36806
å¤§ç›¤æ¨™æº–å·®            25708
å¤§ç›¤é€±è½‰ç‡            25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)        25708
n                42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…         42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®       42406
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3    42291
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2    42291
NCSKEW           42406
dtype: int64

In [154]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 28 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   å…¬å¸             144803 non-null  object
 1   ç°¡ç¨±             144803 non-null  object
 2   TSE ç”¢æ¥­åˆ¥        144803 non-null  int64
 3   å¹´/æœˆ            144803 non-null  object
 4   å­£åˆ¥             144803 non-null  int64
 5   è² å‚µæ¯”ä¾‹           144803 non-null  float64
 6   è³‡ç”¢å ±é…¬ç‡          144803 non-null  float64
 7   å‰æœŸéå»¶æ‰€å¾—ç¨…        144803 non-null  float64
 8   éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡       144803 non-null  float64
 9   ç¾é‡‘æœ‰æ•ˆç¨…ç‡         144803 non-null  float64
 10  è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸   144803 non-null  float64
 11  id             144803 non-null  object
 12  åŸå§‹æ¨™æº–å·®          107843 non-null  float64
 13  é€±è½‰ç‡ï¼…           107997 non-null  float64
 14  å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…      107727 non-null  float64
 15  è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ      107997 non-null  float64
 16  æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)     107997 non-null  float64
 17  å ±é…¬ç‡ï¼…           107997 non-null  float64
 18  å¸‚å€¼(ç™¾è¬å…ƒ)        107997 non-null  float64
 19  å¤§ç›¤æ¨™æº–å·®          119095 non-null  float64
 20  å¤§ç›¤é€±è½‰ç‡          119095 non-null  float64
 21  å¤§ç›¤æˆäº¤é‡(åƒè‚¡)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…       102512 non-null  float64
 24  å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®     102397 non-null  float64
 25  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3  102512 non-null  float64
 26  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
dtypes: float64(22), int64(2), object(4)
memory usage: 32.0+ MB

In [155]:
#ç”±æ–¼è¦åšcrashåˆ¤æ–·å› æ­¤è¦å°‡å ±é…¬è·Ÿè‘—è²¡å ±èµ°
Stock_price_week.groupby('id').mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2155090925.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Stock_price_week.groupby('id').mean()

,TSE ç”¢æ¥­åˆ¥,æ”¶ç›¤åƒ¹(å…ƒ),æˆäº¤é‡(åƒè‚¡),å ±é…¬ç‡ï¼…,é€±è½‰ç‡ï¼…,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å¸‚å€¼(ç™¾è¬å…ƒ),å ±é…¬ç‡-Ln,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,å¸‚å ´é¢¨éšªæº¢é…¬,è¦æ¨¡æº¢é…¬ (3å› å­),è¦æ¨¡æº¢é…¬ (5å› å­),æ·¨å€¼å¸‚åƒ¹æ¯”æº¢é…¬,ç„¡é¢¨éšªåˆ©ç‡,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2
id,,,,,,,,,,,,,,,,,,
11011998/09,1.0,25.341176,34447.000000,-0.000465,1.897900,1.815000e+06,45994.470588,-0.085265,1.387059,0.167275,0.627041,-0.582529,-0.576806,0.476794,0.098925,-0.007980,-0.000018,0.000751
11011999/03,1.0,23.082353,22959.764706,-0.982653,1.139376,1.994529e+06,45570.411765,-1.057835,1.338824,-0.054118,0.676259,-1.192453,-1.428371,-1.938500,0.096154,-0.018302,-0.000038,0.000936
11011999/06,1.0,21.677778,59639.000000,0.840367,2.715189,2.196500e+06,47615.444444,0.267800,1.373333,-0.084044,0.019856,-1.047444,-1.240711,-0.519722,0.096154,-0.000704,0.002282,0.013063
11011999/09,1.0,32.646154,176506.346154,1.186381,8.035796,2.196500e+06,71707.269231,0.670585,1.857308,0.196085,0.738262,0.934081,0.612758,-0.996300,0.096154,-0.000016,0.000215,0.006546
11012000/03,1.0,25.617647,72321.941176,0.034865,3.229141,2.258519e+06,57724.588235,-0.172376,1.438824,-0.328745,-0.718288,-0.515524,-0.689200,-0.784659,0.096154,0.003088,0.000288,0.003261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L23012001/03,13.0,18.077778,33066.944444,-2.354306,5.199711,6.372713e+05,11479.555556,-2.565478,1.338889,-0.684328,-1.159000,-0.326322,-0.384611,0.154983,0.076442,-0.016063,-0.000119,0.002173
L23012001/06,13.0,12.400000,36332.750000,0.498250,5.589762,6.499880e+05,8059.125000,-0.083025,0.925000,1.282963,-1.426438,-0.456225,-0.810800,-1.244738,0.059135,0.013650,0.000275,0.004779
L23012001/09,13.0,28.409615,93084.346154,3.940958,14.320935,6.499880e+05,18465.269231,3.665158,2.278462,0.034787,1.949638,0.666762,0.912554,1.321204,0.046006,0.019052,0.000130,0.002937
L23012002/03,13.0,33.400000,63926.111111,-0.228311,9.380394,6.810642e+05,22691.388889,-0.430061,2.460556,0.099083,-1.594706,-0.045078,-0.217089,-0.431450,0.042682,0.009440,0.000063,0.002071
L23012002/06,13.0,27.850000,40780.875000,-2.094288,5.818850,7.008400e+05,19517.875000,-2.416138,2.002500,-1.226196,-0.354475,-0.673238,-0.605450,-0.467713,0.040385,-0.020063,-0.000055,0.001726

In [156]:
# Stock_price_week[np.isfinite(Stock_price_week['NCSKEW'])==False]

In [157]:
# len(Financial_statement[np.isfinite(Financial_statement['NCSKEW'])==False])

<font size="6">å°‡å€Ÿåˆ¸é¤˜é¡åˆä½µ</font> 200411/30~2023/04/28

In [158]:
# Use_report_date=[]
# for od in Stock_lending["å¹´æœˆæ—¥"]:
#     Use_report_date.append(date_dic[od])

In [159]:
Stock_lending

       å…¬å¸ä»£ç¢¼   ç°¡ç¨±  TSE ç”¢æ¥­åˆ¥         å¹´æœˆæ—¥  åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)            Id_s
0      1101   å°æ³¥        1  2004/12/31         9000  11012004/12/31
1      5346   åŠ›æ™¶       24  2004/12/31          414  53462004/12/31
2      3012   å»£è¼       13  2004/12/31        21160  30122004/12/31
3      3009  å¥‡ç¾é›»       26  2004/12/31         5000  30092004/12/31
4      2475   è¯æ˜        26  2004/12/31        21000  24752004/12/31
...     ...  ...      ...         ...          ...             ...
56141  2064   æ™‰æ¤¿       10  2023/03/31           52  20642023/03/31
56142  2065   ä¸–è±       10  2023/03/31          231  20652023/03/31
56143  2066   ä¸–å¾·        5  2023/03/31          222  20662023/03/31
56144  1813  å¯¶åˆ©å¾        22  2023/03/31           97  18132023/03/31
56145  9962   æœ‰ç›Š       10  2023/03/31          626  99622023/03/31

[56146 rows x 6 columns]

In [160]:
Stock_lending['id']=Stock_lending['Id_s'].str.rsplit(pat="/",n=1,expand=True)[0]

In [161]:
# Stock_lending['è²¡å ±ä½¿ç”¨å¹´åº¦']=Use_report_date

In [162]:
# Stock_lending['id']=Stock_lending["å…¬å¸ä»£ç¢¼"].astype('str')+Stock_lending["è²¡å ±ä½¿ç”¨å¹´åº¦"]

In [163]:
Stock_lending

,å…¬å¸ä»£ç¢¼,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡),Id_s,id
0,1101,å°æ³¥,1,2004/12/31,9000,11012004/12/31,11012004/12
1,5346,åŠ›æ™¶,24,2004/12/31,414,53462004/12/31,53462004/12
2,3012,å»£è¼,13,2004/12/31,21160,30122004/12/31,30122004/12
3,3009,å¥‡ç¾é›»,26,2004/12/31,5000,30092004/12/31,30092004/12
4,2475,è¯æ˜,26,2004/12/31,21000,24752004/12/31,24752004/12
...,...,...,...,...,...,...,...
56141,2064,æ™‰æ¤¿,10,2023/03/31,52,20642023/03/31,20642023/03
56142,2065,ä¸–è±,10,2023/03/31,231,20652023/03/31,20652023/03
56143,2066,ä¸–å¾·,5,2023/03/31,222,20662023/03/31,20662023/03
56144,1813,å¯¶åˆ©å¾,22,2023/03/31,97,18132023/03/31,18132023/03
56145,9962,æœ‰ç›Š,10,2023/03/31,626,99622023/03/31,99622023/03

In [164]:
#å°‡å€Ÿåˆ¸é¤˜é¡åˆä½µ
Financial_statement=pd.merge(Financial_statement,Stock_lending,on='id',how='left')

In [165]:
Financial_statement.isnull().sum()

å…¬å¸                   0
ç°¡ç¨±_x                 0
TSE ç”¢æ¥­åˆ¥_x            0
å¹´/æœˆ                  0
å­£åˆ¥                   0
è² å‚µæ¯”ä¾‹                 0
è³‡ç”¢å ±é…¬ç‡                0
å‰æœŸéå»¶æ‰€å¾—ç¨…              0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡             0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡               0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸         0
id                   0
åŸå§‹æ¨™æº–å·®            36960
é€±è½‰ç‡ï¼…             36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…        37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ        36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)       36806
å ±é…¬ç‡ï¼…             36806
å¸‚å€¼(ç™¾è¬å…ƒ)          36806
å¤§ç›¤æ¨™æº–å·®            25708
å¤§ç›¤é€±è½‰ç‡            25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)        25708
n                42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…         42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®       42406
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3    42291
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2    42291
NCSKEW           42406
å…¬å¸ä»£ç¢¼             88684
ç°¡ç¨±_y             88684
TSE ç”¢æ¥­åˆ¥_y        88684
å¹´æœˆæ—¥              88684
åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)      88684
Id_s             88684
dtype: int64

In [166]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 34 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   å…¬å¸             144803 non-null  object
 1   ç°¡ç¨±_x           144803 non-null  object
 2   TSE ç”¢æ¥­åˆ¥_x      144803 non-null  int64
 3   å¹´/æœˆ            144803 non-null  object
 4   å­£åˆ¥             144803 non-null  int64
 5   è² å‚µæ¯”ä¾‹           144803 non-null  float64
 6   è³‡ç”¢å ±é…¬ç‡          144803 non-null  float64
 7   å‰æœŸéå»¶æ‰€å¾—ç¨…        144803 non-null  float64
 8   éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡       144803 non-null  float64
 9   ç¾é‡‘æœ‰æ•ˆç¨…ç‡         144803 non-null  float64
 10  è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸   144803 non-null  float64
 11  id             144803 non-null  object
 12  åŸå§‹æ¨™æº–å·®          107843 non-null  float64
 13  é€±è½‰ç‡ï¼…           107997 non-null  float64
 14  å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…      107727 non-null  float64
 15  è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ      107997 non-null  float64
 16  æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)     107997 non-null  float64
 17  å ±é…¬ç‡ï¼…           107997 non-null  float64
 18  å¸‚å€¼(ç™¾è¬å…ƒ)        107997 non-null  float64
 19  å¤§ç›¤æ¨™æº–å·®          119095 non-null  float64
 20  å¤§ç›¤é€±è½‰ç‡          119095 non-null  float64
 21  å¤§ç›¤æˆäº¤é‡(åƒè‚¡)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…       102512 non-null  float64
 24  å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®     102397 non-null  float64
 25  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3  102512 non-null  float64
 26  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
 28  å…¬å¸ä»£ç¢¼           56119 non-null   float64
 29  ç°¡ç¨±_y           56119 non-null   object
 30  TSE ç”¢æ¥­åˆ¥_y      56119 non-null   float64
 31  å¹´æœˆæ—¥            56119 non-null   object
 32  åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)    56119 non-null   float64
 33  Id_s           56119 non-null   object
dtypes: float64(25), int64(2), object(7)
memory usage: 38.7+ MB

In [167]:
Financial_statement.drop(['ç°¡ç¨±_y','TSE ç”¢æ¥­åˆ¥_y','å…¬å¸ä»£ç¢¼','Id_s','å¹´æœˆæ—¥'],axis=1,inplace=True)
Financial_statement=Financial_statement.rename(columns={'ç°¡ç¨±_x': 'ç°¡ç¨±','TSE ç”¢æ¥­åˆ¥_x': 'TSE ç”¢æ¥­åˆ¥'})

In [168]:
Financial_statement['åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)'].fillna(value=0, inplace=True)

<font size="6">å°‡ç¶“ç†äººæŒè‚¡åˆä½µ</font>

In [169]:
Manager_holding=Manager_holding.rename(columns={'Id_m': 'id'})

In [170]:
Manager_holding

,å…¬å¸ä»£ç¢¼,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´æœˆæ—¥,ç¶“ç†äººæŒè‚¡%,ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£),ç¶“ç†äººç¸½æŒè‚¡%,ç¶“ç†äººç¸½æŒè‚¡% (å«å…¼è‘£ç›£),id
0,1101,å°æ³¥,1,1993/03,0.08,0.08,0.08,0.08,11011993/03
1,1102,äºæ³¥,1,1993/03,0.00,0.02,0.00,0.02,11021993/03
2,1103,å˜‰æ³¥,1,1993/03,0.04,0.39,0.04,0.39,11031993/03
3,1104,ç’°æ³¥,1,1993/03,0.13,0.14,0.13,0.14,11041993/03
4,1108,å¹¸ç¦,1,1993/03,0.15,4.86,0.15,4.86,11081993/03
...,...,...,...,...,...,...,...,...,...
148443,6594,å±•åŒ¯ç§‘,24,2022/12,1.36,1.36,1.36,1.36,65942022/12
148444,8287,è‹±æ ¼çˆ¾,28,2022/12,0.09,0.14,0.09,0.14,82872022/12
148445,5801,ç¬¬ä¸€é‡‘æŠ•,20,2023/03,0.00,0.00,0.00,0.00,58012023/03
148446,5901,ä¸­å‹,18,2023/03,1.38,1.38,1.38,1.38,59012023/03
148447,8287,è‹±æ ¼çˆ¾,28,2023/03,0.09,0.14,0.09,0.14,82872023/03

In [171]:
Financial_statement

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ),å¤§ç›¤æ¨™æº–å·®,å¤§ç›¤é€±è½‰ç‡,å¤§ç›¤æˆäº¤é‡(åƒè‚¡),n,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…,å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2,NCSKEW,åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0

In [172]:
#å°‡å€Ÿåˆ¸é¤˜é¡åˆä½µ
Financial_statement=pd.merge(Financial_statement,Manager_holding,on='id',how='left')

In [173]:
Financial_statement.isnull().sum()

å…¬å¸                    0
ç°¡ç¨±_x                  0
TSE ç”¢æ¥­åˆ¥_x             0
å¹´/æœˆ                   0
å­£åˆ¥                    0
è² å‚µæ¯”ä¾‹                  0
è³‡ç”¢å ±é…¬ç‡                 0
å‰æœŸéå»¶æ‰€å¾—ç¨…               0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡              0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡                0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸          0
id                    0
åŸå§‹æ¨™æº–å·®             36960
é€±è½‰ç‡ï¼…              36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…         37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ         36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)        36806
å ±é…¬ç‡ï¼…              36806
å¸‚å€¼(ç™¾è¬å…ƒ)           36806
å¤§ç›¤æ¨™æº–å·®             25708
å¤§ç›¤é€±è½‰ç‡             25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)         25708
n                 42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…          42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®        42406
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3     42291
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2     42291
NCSKEW            42406
åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)           0
å…¬å¸ä»£ç¢¼               7709
ç°¡ç¨±_y               7709
TSE ç”¢æ¥­åˆ¥_y          7709
å¹´æœˆæ—¥                7709
ç¶“ç†äººæŒè‚¡%             7709
ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£)      7709
ç¶“ç†äººç¸½æŒè‚¡%            7709
ç¶“ç†äººç¸½æŒè‚¡% (å«å…¼è‘£ç›£)     7709
dtype: int64

In [174]:
Financial_statement

,å…¬å¸,ç°¡ç¨±_x,TSE ç”¢æ¥­åˆ¥_x,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ),å¤§ç›¤æ¨™æº–å·®,å¤§ç›¤é€±è½‰ç‡,å¤§ç›¤æˆäº¤é‡(åƒè‚¡),n,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…,å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2,NCSKEW,åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡),å…¬å¸ä»£ç¢¼,ç°¡ç¨±_y,TSE ç”¢æ¥­åˆ¥_y,å¹´æœˆæ—¥,ç¶“ç†äººæŒè‚¡%,ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£),ç¶“ç†äººç¸½æŒè‚¡%,ç¶“ç†äººç¸½æŒè‚¡% (å«å…¼è‘£ç›£)
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1222,æºç›Š,2.0,1993/06,7.61,22.74,7.61,22.74
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1221,ä¹…æ´¥,2.0,1993/06,0.00,12.59,0.00,12.59
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1212,ä¸­æ—¥,2.0,1993/06,0.03,1.76,0.03,1.76
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1209,ç›Šè¯,2.0,1993/06,3.51,3.51,3.51,3.51
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0,3443,å‰µæ„,24.0,2023/03,0.02,0.02,0.02,0.02
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0,3437,æ¦®å‰µ,26.0,2023/03,1.05,1.05,1.05,1.05
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,3432,å°ç«¯,28.0,2023/03,8.83,24.26,8.83,24.26
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0,3515,è¯æ“,25.0,2023/03,3.07,3.07,3.07,3.07
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,9962,æœ‰ç›Š,10.0,2023/03,0.20,0.20,0.20,0.20

In [175]:
Financial_statement.drop(['ç°¡ç¨±_y','TSE ç”¢æ¥­åˆ¥_y','å…¬å¸ä»£ç¢¼','å¹´æœˆæ—¥','ç¶“ç†äººæŒè‚¡%','ç¶“ç†äººç¸½æŒè‚¡% (å«å…¼è‘£ç›£)','ç¶“ç†äººç¸½æŒè‚¡%'],axis=1,inplace=True)
Financial_statement=Financial_statement.rename(columns={'ç°¡ç¨±_x': 'ç°¡ç¨±','TSE ç”¢æ¥­åˆ¥_x': 'TSE ç”¢æ¥­åˆ¥'})

In [176]:
Financial_statement

,å…¬å¸,ç°¡ç¨±,TSE ç”¢æ¥­åˆ¥,å¹´/æœˆ,å­£åˆ¥,è² å‚µæ¯”ä¾‹,è³‡ç”¢å ±é…¬ç‡,å‰æœŸéå»¶æ‰€å¾—ç¨…,éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡,ç¾é‡‘æœ‰æ•ˆç¨…ç‡,è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸,id,åŸå§‹æ¨™æº–å·®,é€±è½‰ç‡ï¼…,å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…,è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ,æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡),å ±é…¬ç‡ï¼…,å¸‚å€¼(ç™¾è¬å…ƒ),å¤§ç›¤æ¨™æº–å·®,å¤§ç›¤é€±è½‰ç‡,å¤§ç›¤æˆäº¤é‡(åƒè‚¡),n,å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…,å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3,sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2,NCSKEW,åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡),ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£)
0,1222,æºç›Š,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.74
1,1221,ä¹…æ´¥,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.59
2,1212,ä¸­æ—¥,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.76
3,1209,ç›Šè¯,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.51
4,1306,åˆç™¼,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,å‰µæ„,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0,0.02
144799,3437,æ¦®å‰µ,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0,1.05
144800,3432,å°ç«¯,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,24.26
144801,3515,è¯æ“,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0,3.07
144802,9962,æœ‰ç›Š,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,0.20

In [177]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 30 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   å…¬å¸             144803 non-null  object
 1   ç°¡ç¨±             144803 non-null  object
 2   TSE ç”¢æ¥­åˆ¥        144803 non-null  int64
 3   å¹´/æœˆ            144803 non-null  object
 4   å­£åˆ¥             144803 non-null  int64
 5   è² å‚µæ¯”ä¾‹           144803 non-null  float64
 6   è³‡ç”¢å ±é…¬ç‡          144803 non-null  float64
 7   å‰æœŸéå»¶æ‰€å¾—ç¨…        144803 non-null  float64
 8   éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡       144803 non-null  float64
 9   ç¾é‡‘æœ‰æ•ˆç¨…ç‡         144803 non-null  float64
 10  è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸   144803 non-null  float64
 11  id             144803 non-null  object
 12  åŸå§‹æ¨™æº–å·®          107843 non-null  float64
 13  é€±è½‰ç‡ï¼…           107997 non-null  float64
 14  å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…      107727 non-null  float64
 15  è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ      107997 non-null  float64
 16  æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)     107997 non-null  float64
 17  å ±é…¬ç‡ï¼…           107997 non-null  float64
 18  å¸‚å€¼(ç™¾è¬å…ƒ)        107997 non-null  float64
 19  å¤§ç›¤æ¨™æº–å·®          119095 non-null  float64
 20  å¤§ç›¤é€±è½‰ç‡          119095 non-null  float64
 21  å¤§ç›¤æˆäº¤é‡(åƒè‚¡)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…       102512 non-null  float64
 24  å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®     102397 non-null  float64
 25  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3  102512 non-null  float64
 26  sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
 28  åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)    144803 non-null  float64
 29  ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£)  137094 non-null  float64
dtypes: float64(24), int64(2), object(4)
memory usage: 34.2+ MB

In [178]:
Financial_statement.isnull().sum()

å…¬å¸                   0
ç°¡ç¨±                   0
TSE ç”¢æ¥­åˆ¥              0
å¹´/æœˆ                  0
å­£åˆ¥                   0
è² å‚µæ¯”ä¾‹                 0
è³‡ç”¢å ±é…¬ç‡                0
å‰æœŸéå»¶æ‰€å¾—ç¨…              0
éå»¶æ‰€å¾—ç¨…è®ŠåŒ–é¡             0
ç¾é‡‘æœ‰æ•ˆç¨…ç‡               0
è²¡å‹™ä¸é€æ˜åº¦ğ‘‚ğ‘ƒğ´ğ‘„ğ‘ˆğ¸         0
id                   0
åŸå§‹æ¨™æº–å·®            36960
é€±è½‰ç‡ï¼…             36806
å»è¶¨å‹¢å¹³å‡é€±è½‰ç‡ï¼…        37076
è‚¡åƒ¹æ·¨å€¼æ¯”-TEJ        36806
æµé€šåœ¨å¤–è‚¡æ•¸(åƒè‚¡)       36806
å ±é…¬ç‡ï¼…             36806
å¸‚å€¼(ç™¾è¬å…ƒ)          36806
å¤§ç›¤æ¨™æº–å·®            25708
å¤§ç›¤é€±è½‰ç‡            25708
å¤§ç›¤æˆäº¤é‡(åƒè‚¡)        25708
n                42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…         42291
å…¬å¸ç¨æœ‰å ±é…¬ç‡æ¨™æº–å·®       42406
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^3    42291
sumå…¬å¸ç¨æœ‰å ±é…¬ç‡ï¼…^2    42291
NCSKEW           42406
åˆè¨ˆ-å€Ÿåˆ¸é¤˜é¡(åƒè‚¡)          0
ç¶“ç†äººæŒè‚¡% (å«å…¼è‘£ç›£)     7709
dtype: int64

In [179]:
# df.drop()

In [180]:
Financial_statement.to_csv(r"C:\Users\USER\Desktop\è«–æ–‡\ç¨‹å¼ç¢¼\å‘¨è³‡æ–™æœˆè™•ç†\æ•´ç†è³‡æ–™\è«–æ–‡è³‡æ–™é€±è™•ç†æœ€çµ‚ç‰ˆ-ncskewè²¡å ±ç‚ºä¸».txt",sep='\t', index=False)