In [91]:
import pandas as pd
import numpy as np
import time
import pandas as pd
import numpy as np
import time 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [92]:
pd.set_option('display.max_columns', None)

In [93]:
Stock_price_week=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\公司週資料_整理.txt",encoding = 'utf-8')
Financial_statement=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\公司財報_整理.txt",encoding = 'utf-8')
Index_week=pd.read_table(r"C:\Users\USER\Desktop\論文\原始資料上市下市\大盤資料(週).txt",encoding = 'ANSI')
Stock_lending=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\借券餘額(季)整理.txt",encoding = 'utf-8')
Manager_holding=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\持股比例(月)_整理.txt",encoding = 'utf-8')
threefactor=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\三因子_整理.txt",encoding = 'utf-8')

C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Stock_price_week=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\公司週資料_整理.txt",encoding = 'utf-8')
C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Financial_statement=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\公司財報_整理.txt",encoding = 'utf-8')
C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2921706555.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Manager_holding=pd.read_table(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\持股比例(月)_整理.txt",encoding = 'utf-8')

In [94]:
threefactor.sort_values(by = '年月日',inplace=True)
threefactor

,證券名稱,簡稱,年月日,市場風險溢酬,規模溢酬 (3因子),規模溢酬 (5因子),淨值市價比溢酬,無風險利率
0,Z8888L,上市＋上櫃(不含金融),1999/01/08,0.0116,-1.6850,-1.9000,0.4605,0.103846
1,Z8888L,上市＋上櫃(不含金融),1999/01/16,0.3429,-0.2292,-0.3637,-1.6457,0.103846
2,Z8888L,上市＋上櫃(不含金融),1999/01/22,-4.4706,-1.0339,-0.9939,1.7745,0.103846
3,Z8888L,上市＋上櫃(不含金融),1999/01/30,-4.2284,0.4518,0.4267,0.0452,0.103846
4,Z8888L,上市＋上櫃(不含金融),1999/02/06,-4.4886,-4.4769,-5.3726,-4.2656,0.100000
...,...,...,...,...,...,...,...,...
1252,Z8888L,上市＋上櫃(不含金融),2023/03/31,-0.4348,0.4710,0.5111,0.3337,0.030288
1253,Z8888L,上市＋上櫃(不含金融),2023/04/07,-0.2645,0.4348,0.5337,0.7525,0.030288
1254,Z8888L,上市＋上櫃(不含金融),2023/04/14,0.4599,1.6629,1.8206,1.2426,0.030288
1255,Z8888L,上市＋上櫃(不含金融),2023/04/21,-2.4736,0.0891,-0.0950,0.5160,0.030288
1256,Z8888L,上市＋上櫃(不含金融),2023/04/28,-0.2103,1.6098,1.6334,0.8247,0.030288

In [95]:
threefactor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 1256
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   證券名稱        1257 non-null   object
 1   簡稱          1257 non-null   object
 2   年月日         1257 non-null   object
 3   市場風險溢酬      1257 non-null   float64
 4   規模溢酬 (3因子)  1257 non-null   float64
 5   規模溢酬 (5因子)  1257 non-null   float64
 6   淨值市價比溢酬     1257 non-null   float64
 7   無風險利率       1257 non-null   float64
dtypes: float64(5), object(3)
memory usage: 88.4+ KB

In [96]:
Stock_price_week

,證券代碼,簡稱,TSE 產業別,年月日,收盤價(元),成交量(千股),報酬率％,週轉率％,流通在外股數(千股),市值(百萬元),報酬率-Ln,股價淨值比-TEJ,年月,年月_id
0,1101,台泥,1,1993/01/09,50.00,11262,-0.9901,1.2241,920000,46000,-0.9950,2.67,1993/01,1101/1993/01
1,2706,第一店,16,1993/01/09,42.20,4089,-7.0485,6.1856,66105,2790,-7.3093,3.18,1993/01,2706/1993/01
2,2901,欣欣,18,1993/01/09,58.50,3027,-8.5937,5.1466,58816,3441,-8.9855,4.24,1993/01,2901/1993/01
3,2903,遠百,18,1993/01/09,32.20,2468,-7.2047,0.6685,369204,11888,-7.4773,1.96,1993/01,2903/1993/01
4,2904,匯僑,20,1993/01/09,15.90,3532,-1.8518,4.4150,80000,1272,-1.8692,2.88,1993/01,2904/1993/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1672391,3048,益登,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04
1672392,3047,訊舟,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04
1672393,3046,建碁,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04
1672394,3056,富華新,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04
1672395,9962,有益,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04

In [97]:
Financial_statement

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801
...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663

In [98]:
Stock_price_week=Stock_price_week.drop(Stock_price_week[Stock_price_week['年月日']<="1994/05/01"].index)
Stock_price_week.reset_index(drop=True, inplace=True)

In [99]:
# Stock_price_week.drop(['前月平均報酬率-Ln','前月標準差','前一年標準差'], axis=1, inplace=True)

In [100]:
date=pd.read_table(r"C:\Users\USER\Desktop\論文\原始資料\date(季).txt")
date_dic=dict(zip(date['Date'],date['Finance_report_date']))
Use_report_date=[]
for od in Stock_price_week['年月日']:
    Use_report_date.append(date_dic[od])

In [101]:
Stock_price_week['財報使用年度']=Use_report_date
Stock_price_week[['簡稱','年月日','財報使用年度']]

          簡稱         年月日   財報使用年度
0         中紡  1994/05/07  1994/03
1         惠勝  1994/05/07  1994/03
2         立大  1994/05/07  1994/03
3        順大裕  1994/05/07  1994/03
4         尚德  1994/05/07  1994/03
...      ...         ...      ...
1655505   益登  2023/04/28  2022/12
1655506   訊舟  2023/04/28  2022/12
1655507   建碁  2023/04/28  2022/12
1655508  富華新  2023/04/28  2022/12
1655509   有益  2023/04/28  2022/12

[1655510 rows x 3 columns]

In [102]:
# 開始測量
start = time.time()

# 要測量的程式碼
Stock_price_week['id']=Stock_price_week["證券代碼"].astype('str')+Stock_price_week["財報使用年度"]
Financial_statement["id"]=Financial_statement["公司"].astype('str')+Financial_statement["年/月"]
# 結束測量
end = time.time()

# 輸出結果
print("執行時間：%f 秒" % (end - start))

執行時間：0.296213 秒

In [103]:
Financial_statement.isnull().sum()

公司              0
簡稱              0
TSE 產業別         0
年/月             0
季別              0
負債比例            0
資產報酬率           0
前期遞延所得稅         0
遞延所得稅變化額        0
現金有效稅率          0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸    0
id              0
dtype: int64

In [104]:
Stock_price_week

,證券代碼,簡稱,TSE 產業別,年月日,收盤價(元),成交量(千股),報酬率％,週轉率％,流通在外股數(千股),市值(百萬元),報酬率-Ln,股價淨值比-TEJ,年月,年月_id,財報使用年度,id
0,1408,中紡,4,1994/05/07,16.90,95813,2.4242,11.2851,849019,14348,2.3954,1.43,1994/05,1408/1994/05,1994/03,14081994/03
1,1224,惠勝,80,1994/05/07,33.60,1364,-1.1765,1.7947,76000,2553,-1.1835,3.41,1994/05,1224/1994/05,1994/03,12241994/03
2,8724,立大,80,1994/05/07,52.50,9321,14.6287,8.5046,109600,5754,13.6528,4.43,1994/05,8724/1994/05,1994/03,87241994/03
3,8723,順大裕,80,1994/05/07,66.50,652,0.7576,0.8981,72600,4827,0.7547,4.25,1994/05,8723/1994/05,1994/03,87231994/03
4,8722,尚德,80,1994/05/07,32.20,32983,9.1527,32.9830,100000,3220,8.7576,3.14,1994/05,8722/1994/05,1994/03,87221994/03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655505,3048,益登,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12
1655506,3047,訊舟,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12
1655507,3046,建碁,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12
1655508,3056,富華新,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12
1655509,9962,有益,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12

In [105]:
#計算原始標準差
# 開始測量
start = time.time()
std=Stock_price_week.groupby("id")["報酬率％"].agg(np.std,ddof = 1)
#將series變成DataFrame
std=pd.DataFrame(std)
print(std)
#加入index
std.reset_index(inplace=True)
std.rename(columns={"報酬率％":"原始標準差"},inplace=True)


Financial_statement=pd.merge( Financial_statement, std , on='id', how='left')



end = time.time()

# 輸出結果
print("執行時間：%f 秒" % (end - start))

                   報酬率％
id
11011994/03    1.922434
11011994/06    4.418306
11011994/09    2.989053
11011995/03    3.987652
11011995/06    4.037547
...                 ...
L23012001/03   6.044111
L23012001/06  11.361548
L23012001/09   6.604501
L23012002/03   6.554465
L23012002/06   8.252476

[112508 rows x 1 columns]
執行時間：9.255834 秒

In [106]:
Financial_statement[Financial_statement['原始標準差'].isnull()==True]

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN

In [107]:
# a=list(std['id'])

In [108]:
# b=list(pd.DataFrame(Financial_statement.groupby('id').size()).index)

In [109]:
# print(len(a))
# print(len(b))

In [110]:
# print(set(a)^set(b))

In [111]:
# print(len(set(a)^set(b)))

In [112]:
# Stock_price_week[Stock_price_week['id']=='62132006/12']

In [113]:
# Financial_statement[Financial_statement['id']=='62132006/12']

In [114]:
Stock_price_week['三週平均週轉率％']=Stock_price_week.groupby('證券代碼')['週轉率％'].rolling(3).mean().reset_index(level=0, drop=True)
Stock_price_week['前三週平均週轉率％']=Stock_price_week.groupby('證券代碼')['三週平均週轉率％'].shift(1)
Stock_price_week['去趨勢平均週轉率％']=Stock_price_week['週轉率％']-Stock_price_week['前三週平均週轉率％']
Stock_price_week.drop(['三週平均週轉率％','前三週平均週轉率％'],axis=1,inplace=True)

In [115]:
Stock_price_week

,證券代碼,簡稱,TSE 產業別,年月日,收盤價(元),成交量(千股),報酬率％,週轉率％,流通在外股數(千股),市值(百萬元),報酬率-Ln,股價淨值比-TEJ,年月,年月_id,財報使用年度,id,去趨勢平均週轉率％
0,1408,中紡,4,1994/05/07,16.90,95813,2.4242,11.2851,849019,14348,2.3954,1.43,1994/05,1408/1994/05,1994/03,14081994/03,NaN
1,1224,惠勝,80,1994/05/07,33.60,1364,-1.1765,1.7947,76000,2553,-1.1835,3.41,1994/05,1224/1994/05,1994/03,12241994/03,NaN
2,8724,立大,80,1994/05/07,52.50,9321,14.6287,8.5046,109600,5754,13.6528,4.43,1994/05,8724/1994/05,1994/03,87241994/03,NaN
3,8723,順大裕,80,1994/05/07,66.50,652,0.7576,0.8981,72600,4827,0.7547,4.25,1994/05,8723/1994/05,1994/03,87231994/03,NaN
4,8722,尚德,80,1994/05/07,32.20,32983,9.1527,32.9830,100000,3220,8.7576,3.14,1994/05,8722/1994/05,1994/03,87221994/03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655505,3048,益登,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12,0.221800
1655506,3047,訊舟,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12,-5.030300
1655507,3046,建碁,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12,-33.878267
1655508,3056,富華新,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12,-6.477700
1655509,9962,有益,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12,-7.825300

In [116]:
# Stock_price_week.groupby('id')['週轉率％'].mean()
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['週轉率％'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['去趨勢平均週轉率％'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['股價淨值比-TEJ'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['流通在外股數(千股)'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['報酬率％'].mean() , on='id', how='left')
Financial_statement=pd.merge( Financial_statement, Stock_price_week.groupby('id')['市值(百萬元)'].mean() , on='id', how='left')



# #去趨勢周轉率
# Financial_statement['三期平均週轉率％']=Financial_statement.groupby('公司')['週轉率％'].rolling(3).mean().reset_index(level=0, drop=True)
# Financial_statement['前三期平均週轉率％']=Financial_statement.groupby('公司')['三期平均週轉率％'].shift(1)
# Financial_statement['去趨勢平均週轉率％']=Financial_statement['週轉率％']-Financial_statement['前三期平均週轉率％']
# Financial_statement.drop(['三期平均週轉率％','前三期平均週轉率％'],axis=1,inplace=True)

In [117]:
# Stock_price_week.groupby('id')['去趨勢平均週轉率％'].mean().describe()

In [118]:
Financial_statement[Financial_statement['原始標準差'].isnull()==True]

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元)
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
Stock_price_week.isnull().sum()

證券代碼             0
簡稱               0
TSE 產業別          0
年月日              0
收盤價(元)           0
成交量(千股)          0
報酬率％             0
週轉率％             0
流通在外股數(千股)       0
市值(百萬元)          0
報酬率-Ln           0
股價淨值比-TEJ        0
年月               0
年月_id            0
財報使用年度           0
id               0
去趨勢平均週轉率％     8706
dtype: int64

In [120]:
Financial_statement.isnull().sum()

公司                  0
簡稱                  0
TSE 產業別             0
年/月                 0
季別                  0
負債比例                0
資產報酬率               0
前期遞延所得稅             0
遞延所得稅變化額            0
現金有效稅率              0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸        0
id                  0
原始標準差           36960
週轉率％            36806
去趨勢平均週轉率％       37076
股價淨值比-TEJ       36806
流通在外股數(千股)      36806
報酬率％            36806
市值(百萬元)         36806
dtype: int64

In [121]:
Financial_statement.isnull().sum()

公司                  0
簡稱                  0
TSE 產業別             0
年/月                 0
季別                  0
負債比例                0
資產報酬率               0
前期遞延所得稅             0
遞延所得稅變化額            0
現金有效稅率              0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸        0
id                  0
原始標準差           36960
週轉率％            36806
去趨勢平均週轉率％       37076
股價淨值比-TEJ       36806
流通在外股數(千股)      36806
報酬率％            36806
市值(百萬元)         36806
dtype: int64

In [122]:
Financial_statement.isnull().sum()

公司                  0
簡稱                  0
TSE 產業別             0
年/月                 0
季別                  0
負債比例                0
資產報酬率               0
前期遞延所得稅             0
遞延所得稅變化額            0
現金有效稅率              0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸        0
id                  0
原始標準差           36960
週轉率％            36806
去趨勢平均週轉率％       37076
股價淨值比-TEJ       36806
流通在外股數(千股)      36806
報酬率％            36806
市值(百萬元)         36806
dtype: int64

In [123]:
Index_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   證券代碼       1571 non-null   object
 1   簡稱         1571 non-null   object
 2   年月日        1571 non-null   int64
 3   收盤價(元)     1571 non-null   float64
 4   成交量(千股)_週  1571 non-null   int64
 5   報酬率％_週     1571 non-null   float64
 6   週轉率％_週     1571 non-null   float64
 7   報酬率-Ln_週   1571 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 98.3+ KB

In [124]:
Index_week['年月日']=Index_week['年月日'].astype(str)
Index_week['年月日']=Index_week['年月日'].str[0:4]+'/'+Index_week['年月日'].str[4:6]+'/'+Index_week['年月日'].str[6:8]

Index_week=Index_week.drop(Index_week[Index_week['年月日']<="1994/05/01"].index)
Index_week.reset_index(drop=True, inplace=True)

Use_report_date=[]
for od in Index_week['年月日']:
    Use_report_date.append(date_dic[od])

In [125]:
Index_week['年/月']=Use_report_date
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("年/月")['報酬率％_週'].agg(np.std,ddof = 1) , on='年/月', how='left')
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("年/月")['週轉率％_週'].mean() , on='年/月', how='left')
Financial_statement=pd.merge( Financial_statement, Index_week.groupby("年/月")['成交量(千股)_週'].mean() , on='年/月', how='left')

Financial_statement.rename(columns={'報酬率％_週': '大盤標準差','週轉率％_週': '大盤週轉率' ,'成交量(千股)_週':'大盤成交量(千股)'},inplace=True)

In [126]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   公司            144803 non-null  object
 1   簡稱            144803 non-null  object
 2   TSE 產業別       144803 non-null  int64
 3   年/月           144803 non-null  object
 4   季別            144803 non-null  int64
 5   負債比例          144803 non-null  float64
 6   資產報酬率         144803 non-null  float64
 7   前期遞延所得稅       144803 non-null  float64
 8   遞延所得稅變化額      144803 non-null  float64
 9   現金有效稅率        144803 non-null  float64
 10  財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸  144803 non-null  float64
 11  id            144803 non-null  object
 12  原始標準差         107843 non-null  float64
 13  週轉率％          107997 non-null  float64
 14  去趨勢平均週轉率％     107727 non-null  float64
 15  股價淨值比-TEJ     107997 non-null  float64
 16  流通在外股數(千股)    107997 non-null  float64
 17  報酬率％          107997 non-null  float64
 18  市值(百萬元)       107997 non-null  float64
 19  大盤標準差         119095 non-null  float64
 20  大盤週轉率         119095 non-null  float64
 21  大盤成交量(千股)     119095 non-null  float64
dtypes: float64(16), int64(2), object(4)
memory usage: 25.4+ MB

In [127]:
Financial_statement.isnull().sum()

公司                  0
簡稱                  0
TSE 產業別             0
年/月                 0
季別                  0
負債比例                0
資產報酬率               0
前期遞延所得稅             0
遞延所得稅變化額            0
現金有效稅率              0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸        0
id                  0
原始標準差           36960
週轉率％            36806
去趨勢平均週轉率％       37076
股價淨值比-TEJ       36806
流通在外股數(千股)      36806
報酬率％            36806
市值(百萬元)         36806
大盤標準差           25708
大盤週轉率           25708
大盤成交量(千股)       25708
dtype: int64

In [128]:
Index_week.rename(columns={'報酬率％_週': '大盤報酬率％',
                            '週轉率％_週':'大盤週轉率％',
                            '收盤價(元)': '大盤收盤價(元)',
                            '成交量(千股)_週':'大盤成交量(千股)',
                            '報酬率-Ln_週':'大盤報酬率-Ln'},inplace=True)

In [129]:
# Index_week['大盤前一期報酬率％']=Index_week['大盤報酬率％'].shift(1)
# Index_week['大盤前二期報酬率％']=Index_week['大盤報酬率％'].shift(2)
# Index_week['大盤下一期報酬率％']=Index_week['大盤報酬率％'].shift(-1)
# Index_week['大盤下二期報酬率％']=Index_week['大盤報酬率％'].shift(-2)

In [130]:
print(Index_week.isnull().sum())
Index_week.dropna(axis=0, how='any',inplace=True)
Index_week.reset_index(drop=True, inplace=True)

證券代碼         0
簡稱           0
年月日          0
大盤收盤價(元)     0
大盤成交量(千股)    0
大盤報酬率％       0
大盤週轉率％       0
大盤報酬率-Ln     0
年/月          0
dtype: int64

In [131]:
# Stock_price_week=pd.merge(Stock_price_week,Index_week,on='年月日',how='left')

In [132]:
Stock_price_week=pd.merge(Stock_price_week,threefactor,on='年月日',how='left')

In [133]:
# threefactor

In [134]:
Stock_price_week.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655510 entries, 0 to 1655509
Data columns (total 24 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   證券代碼        1655510 non-null  object
 1   簡稱_x        1655510 non-null  object
 2   TSE 產業別     1655510 non-null  int64
 3   年月日         1655510 non-null  object
 4   收盤價(元)      1655510 non-null  float64
 5   成交量(千股)     1655510 non-null  int64
 6   報酬率％        1655510 non-null  float64
 7   週轉率％        1655510 non-null  float64
 8   流通在外股數(千股)  1655510 non-null  int64
 9   市值(百萬元)     1655510 non-null  int64
 10  報酬率-Ln      1655510 non-null  float64
 11  股價淨值比-TEJ   1655510 non-null  float64
 12  年月          1655510 non-null  object
 13  年月_id       1655510 non-null  object
 14  財報使用年度      1655510 non-null  object
 15  id          1655510 non-null  object
 16  去趨勢平均週轉率％   1646804 non-null  float64
 17  證券名稱        1561486 non-null  object
 18  簡稱_y        1561486 non-null  object
 19  市場風險溢酬      1561486 non-null  float64
 20  規模溢酬 (3因子)  1561486 non-null  float64
 21  規模溢酬 (5因子)  1561486 non-null  float64
 22  淨值市價比溢酬     1561486 non-null  float64
 23  無風險利率       1561486 non-null  float64
dtypes: float64(11), int64(4), object(9)
memory usage: 315.8+ MB

In [135]:
Stock_price_week.isnull().sum()

證券代碼              0
簡稱_x              0
TSE 產業別           0
年月日               0
收盤價(元)            0
成交量(千股)           0
報酬率％              0
週轉率％              0
流通在外股數(千股)        0
市值(百萬元)           0
報酬率-Ln            0
股價淨值比-TEJ         0
年月                0
年月_id             0
財報使用年度            0
id                0
去趨勢平均週轉率％      8706
證券名稱          94024
簡稱_y          94024
市場風險溢酬        94024
規模溢酬 (3因子)    94024
規模溢酬 (5因子)    94024
淨值市價比溢酬       94024
無風險利率         94024
dtype: int64

In [136]:
Stock_price_week.dropna(axis=0, how='any',inplace=True)
Stock_price_week.reset_index(drop=True, inplace=True)

In [137]:
Stock_price_week

,證券代碼,簡稱_x,TSE 產業別,年月日,收盤價(元),成交量(千股),報酬率％,週轉率％,流通在外股數(千股),市值(百萬元),報酬率-Ln,股價淨值比-TEJ,年月,年月_id,財報使用年度,id,去趨勢平均週轉率％,證券名稱,簡稱_y,市場風險溢酬,規模溢酬 (3因子),規模溢酬 (5因子),淨值市價比溢酬,無風險利率
0,5605,遠航,15,1999/01/08,21.90,165,-4.7826,0.0280,589451,12908,-4.9008,1.76,1999/01,5605/1999/01,1998/09,56051998/09,-0.078600,Z8888L,上市＋上櫃(不含金融),0.0116,-1.6850,-1.9000,0.4605,0.103846
1,5602,榮櫃,15,1999/01/08,27.50,776,2.6119,0.2840,273280,7515,2.5784,1.53,1999/01,5602/1999/01,1998/09,56021998/09,-0.082167,Z8888L,上市＋上櫃(不含金融),0.0116,-1.6850,-1.9000,0.4605,0.103846
2,5528,廣大,14,1999/01/08,27.90,301,-11.7089,0.5017,60000,1674,-12.4530,2.03,1999/01,5528/1999/01,1998/09,55281998/09,0.118933,Z8888L,上市＋上櫃(不含金融),0.0116,-1.6850,-1.9000,0.4605,0.103846
3,5506,長鴻,14,1999/01/08,25.20,280,-8.6956,0.2489,112500,2835,-9.0972,1.46,1999/01,5506/1999/01,1998/09,55061998/09,-0.095700,Z8888L,上市＋上櫃(不含金融),0.0116,-1.6850,-1.9000,0.4605,0.103846
4,5503,榮美開發,14,1999/01/08,17.40,1347,-14.2857,0.8018,168000,2923,-15.4151,1.31,1999/01,5503/1999/01,1998/09,55031998/09,-0.148000,Z8888L,上市＋上櫃(不含金融),0.0116,-1.6850,-1.9000,0.4605,0.103846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554406,3048,益登,29,2023/04/28,27.65,3710,-2.9825,1.3749,269830,7461,-3.0279,1.32,2023/04,3048/2023/04,2022/12,30482022/12,0.221800,Z8888L,上市＋上櫃(不含金融),-0.2103,1.6098,1.6334,0.8247,0.030288
1554407,3047,訊舟,27,2023/04/28,16.10,10377,-0.6173,4.9080,211431,3404,-0.6192,1.34,2023/04,3047/2023/04,2022/12,30472022/12,-5.030300,Z8888L,上市＋上櫃(不含金融),-0.2103,1.6098,1.6334,0.8247,0.030288
1554408,3046,建碁,25,2023/04/28,72.30,14424,3.8794,20.1881,71448,5166,3.8060,6.75,2023/04,3046/2023/04,2022/12,30462022/12,-33.878267,Z8888L,上市＋上櫃(不含金融),-0.2103,1.6098,1.6334,0.8247,0.030288
1554409,3056,富華新,14,2023/04/28,49.45,13664,2.3809,5.6289,242749,12004,2.3532,1.77,2023/04,3056/2023/04,2022/12,30562022/12,-6.477700,Z8888L,上市＋上櫃(不含金融),-0.2103,1.6098,1.6334,0.8247,0.030288
1554410,9962,有益,10,2023/04/28,19.10,3602,-3.0457,3.9925,90220,1723,-3.0930,1.50,2023/04,9962/2023/04,2022/12,99622022/12,-7.825300,Z8888L,上市＋上櫃(不含金融),-0.2103,1.6098,1.6334,0.8247,0.030288

In [138]:
# Stock_price_week.drop(['證券代碼_y','簡稱_y'],axis=1,inplace=True)
# Stock_price_week.rename(columns={"證券代碼_x":"證券代碼","簡稱_x":"簡稱"},inplace=True)

In [139]:
Stock_price_week.drop(['簡稱_y'],axis=1,inplace=True)
Stock_price_week.rename(columns={"簡稱_x":"簡稱"},inplace=True)

In [140]:
# X=Stock_price_week[['大盤前一期報酬率％','大盤前二期報酬率％','大盤報酬率％','大盤下一期報酬率％','大盤下二期報酬率％']]
# Y=Stock_price_week['報酬率％']
# X=sm.add_constant(X) 
# results=sm.OLS(endog=Y, exog=X).fit()
# results.summary()

In [141]:
#capm
X=Stock_price_week[['市場風險溢酬']]
Y=Stock_price_week['報酬率％']-Stock_price_week['無風險利率']
X=sm.add_constant(X) 
results=sm.OLS(endog=Y, exog=X).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.164
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                 3.043e+05
Date:                Fri, 03 Nov 2023   Prob (F-statistic):               0.00
Time:                        02:53:48   Log-Likelihood:            -4.9147e+06
No. Observations:             1554411   AIC:                         9.829e+06
Df Residuals:                 1554409   BIC:                         9.829e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1022      0.005     22.290      0.000       0.093       0.111
市場風險溢酬         0.8916      0.002    551.596      0.000       0.888       0.895
==============================================================================
Omnibus:                   536781.216   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6905931.792
Skew:                           1.299   Prob(JB):                         0.00
Kurtosis:                      12.994   Cond. No.                         2.84
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [142]:
# # 三因子
# X=Stock_price_week[['無風險利率','市場風險溢酬','規模溢酬 (3因子)','淨值市價比溢酬']]
# Y=Stock_price_week['報酬率％']-Stock_price_week['無風險利率']
# X=sm.add_constant(X) 
# results=sm.OLS(endog=Y, exog=X).fit()
# results.summary()

In [143]:
Stock_price_week['公司獨有報酬率％']=np.log(1+(results.resid/100))
# Stock_price_week['公司獨有報酬率％']=results.resid
Stock_price_week['公司獨有報酬率％^3']=Stock_price_week['公司獨有報酬率％']**3
Stock_price_week['公司獨有報酬率％^2']=Stock_price_week['公司獨有報酬率％']**2

In [144]:
#算出每間公司不同財報年月份的天數
# Stock_price_week['yearmonid']=Stock_price_week['證券代碼'].astype('str')+Stock_price_week['年月']
# c=Stock_price_week.groupby('yearmonid')['yearmonid'].count()
# c=pd.DataFrame(c)
# c.rename(columns={'yearmonid':"n"},inplace=True)
# c.reset_index(inplace=True)


c=Stock_price_week.groupby('id')['id'].count()
c=pd.DataFrame(c)
c.rename(columns={'id':"n"},inplace=True)
c.reset_index(inplace=True)

In [145]:
c

                  id   n
0        11011998/09  17
1        11011999/03  17
2        11011999/06   9
3        11011999/09  26
4        11012000/03  17
...              ...  ..
106873  L23012001/03  18
106874  L23012001/06   8
106875  L23012001/09  26
106876  L23012002/03  18
106877  L23012002/06   8

[106878 rows x 2 columns]

In [146]:
Financial_statement

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元),大盤標準差,大盤週轉率,大盤成交量(千股)
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
Financial_statement=pd.DataFrame(pd.merge(Financial_statement,c,on='id',how='left'))
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['公司獨有報酬率％'].mean(),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['公司獨有報酬率％'].agg(np.std,ddof = 1),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['公司獨有報酬率％^3'].sum(),on='id',how='left')
Financial_statement=pd.merge(Financial_statement,Stock_price_week.groupby('id')['公司獨有報酬率％^2'].sum(),on='id',how='left')

In [148]:
Financial_statement

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元),大盤標準差,大盤週轉率,大盤成交量(千股),n,公司獨有報酬率％_x,公司獨有報酬率％_y,公司獨有報酬率％^3,公司獨有報酬率％^2
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# Stock_price_week.drop(['公司獨有報酬率％^3_x','公司獨有報酬率％^2_x'],axis=1,inplace=True)
# Stock_price_week.rename(columns={'公司獨有報酬率％^3_y': 'sum公司獨有報酬率％^3',
#                    '公司獨有報酬率％^2_y':'sum公司獨有報酬率％^2',
#                   },inplace=True)

Financial_statement.rename(columns={
                    '公司獨有報酬率％_x':'公司獨有報酬率％',
                    '公司獨有報酬率％_y':'公司獨有報酬率標準差',
                    '公司獨有報酬率％^3': 'sum公司獨有報酬率％^3',
                    '公司獨有報酬率％^2':'sum公司獨有報酬率％^2',
                   },inplace=True)

In [150]:
n=Financial_statement['n']
sumw3=Financial_statement['sum公司獨有報酬率％^3']
sumw2=Financial_statement['sum公司獨有報酬率％^2']**(3/2)

Financial_statement['NCSKEW']=-1*(n*((n-1)**(3/2))*sumw3 )/((n-1)*(n-2)*sumw2)

In [151]:
Financial_statement.isnull().sum()

公司                   0
簡稱                   0
TSE 產業別              0
年/月                  0
季別                   0
負債比例                 0
資產報酬率                0
前期遞延所得稅              0
遞延所得稅變化額             0
現金有效稅率               0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸         0
id                   0
原始標準差            36960
週轉率％             36806
去趨勢平均週轉率％        37076
股價淨值比-TEJ        36806
流通在外股數(千股)       36806
報酬率％             36806
市值(百萬元)          36806
大盤標準差            25708
大盤週轉率            25708
大盤成交量(千股)        25708
n                42291
公司獨有報酬率％         42291
公司獨有報酬率標準差       42406
sum公司獨有報酬率％^3    42291
sum公司獨有報酬率％^2    42291
NCSKEW           42406
dtype: int64

In [152]:
# #計算獨有報酬率的標準差
# # 開始測量
# start = time.time()
# std=Stock_price_week.groupby("id")["公司獨有報酬率％"].agg(np.std,ddof = 1)
# #將series變成DataFrame
# std=pd.DataFrame(std)
# print(std)
# #加入index
# std.reset_index(inplace=True)
# std.rename(columns={"公司獨有報酬率％":"公司獨有報酬率標準差"},inplace=True)


# Financial_statement=pd.merge(Financial_statement,std,on='id',how='left')

# end = time.time()

# # 輸出結果
# print("執行時間：%f 秒" % (end - start))

In [153]:
Financial_statement.isnull().sum()

公司                   0
簡稱                   0
TSE 產業別              0
年/月                  0
季別                   0
負債比例                 0
資產報酬率                0
前期遞延所得稅              0
遞延所得稅變化額             0
現金有效稅率               0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸         0
id                   0
原始標準差            36960
週轉率％             36806
去趨勢平均週轉率％        37076
股價淨值比-TEJ        36806
流通在外股數(千股)       36806
報酬率％             36806
市值(百萬元)          36806
大盤標準差            25708
大盤週轉率            25708
大盤成交量(千股)        25708
n                42291
公司獨有報酬率％         42291
公司獨有報酬率標準差       42406
sum公司獨有報酬率％^3    42291
sum公司獨有報酬率％^2    42291
NCSKEW           42406
dtype: int64

In [154]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 28 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   公司             144803 non-null  object
 1   簡稱             144803 non-null  object
 2   TSE 產業別        144803 non-null  int64
 3   年/月            144803 non-null  object
 4   季別             144803 non-null  int64
 5   負債比例           144803 non-null  float64
 6   資產報酬率          144803 non-null  float64
 7   前期遞延所得稅        144803 non-null  float64
 8   遞延所得稅變化額       144803 non-null  float64
 9   現金有效稅率         144803 non-null  float64
 10  財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸   144803 non-null  float64
 11  id             144803 non-null  object
 12  原始標準差          107843 non-null  float64
 13  週轉率％           107997 non-null  float64
 14  去趨勢平均週轉率％      107727 non-null  float64
 15  股價淨值比-TEJ      107997 non-null  float64
 16  流通在外股數(千股)     107997 non-null  float64
 17  報酬率％           107997 non-null  float64
 18  市值(百萬元)        107997 non-null  float64
 19  大盤標準差          119095 non-null  float64
 20  大盤週轉率          119095 non-null  float64
 21  大盤成交量(千股)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  公司獨有報酬率％       102512 non-null  float64
 24  公司獨有報酬率標準差     102397 non-null  float64
 25  sum公司獨有報酬率％^3  102512 non-null  float64
 26  sum公司獨有報酬率％^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
dtypes: float64(22), int64(2), object(4)
memory usage: 32.0+ MB

In [155]:
#由於要做crash判斷因此要將報酬跟著財報走
Stock_price_week.groupby('id').mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_11156\2155090925.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Stock_price_week.groupby('id').mean()

,TSE 產業別,收盤價(元),成交量(千股),報酬率％,週轉率％,流通在外股數(千股),市值(百萬元),報酬率-Ln,股價淨值比-TEJ,去趨勢平均週轉率％,市場風險溢酬,規模溢酬 (3因子),規模溢酬 (5因子),淨值市價比溢酬,無風險利率,公司獨有報酬率％,公司獨有報酬率％^3,公司獨有報酬率％^2
id,,,,,,,,,,,,,,,,,,
11011998/09,1.0,25.341176,34447.000000,-0.000465,1.897900,1.815000e+06,45994.470588,-0.085265,1.387059,0.167275,0.627041,-0.582529,-0.576806,0.476794,0.098925,-0.007980,-0.000018,0.000751
11011999/03,1.0,23.082353,22959.764706,-0.982653,1.139376,1.994529e+06,45570.411765,-1.057835,1.338824,-0.054118,0.676259,-1.192453,-1.428371,-1.938500,0.096154,-0.018302,-0.000038,0.000936
11011999/06,1.0,21.677778,59639.000000,0.840367,2.715189,2.196500e+06,47615.444444,0.267800,1.373333,-0.084044,0.019856,-1.047444,-1.240711,-0.519722,0.096154,-0.000704,0.002282,0.013063
11011999/09,1.0,32.646154,176506.346154,1.186381,8.035796,2.196500e+06,71707.269231,0.670585,1.857308,0.196085,0.738262,0.934081,0.612758,-0.996300,0.096154,-0.000016,0.000215,0.006546
11012000/03,1.0,25.617647,72321.941176,0.034865,3.229141,2.258519e+06,57724.588235,-0.172376,1.438824,-0.328745,-0.718288,-0.515524,-0.689200,-0.784659,0.096154,0.003088,0.000288,0.003261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L23012001/03,13.0,18.077778,33066.944444,-2.354306,5.199711,6.372713e+05,11479.555556,-2.565478,1.338889,-0.684328,-1.159000,-0.326322,-0.384611,0.154983,0.076442,-0.016063,-0.000119,0.002173
L23012001/06,13.0,12.400000,36332.750000,0.498250,5.589762,6.499880e+05,8059.125000,-0.083025,0.925000,1.282963,-1.426438,-0.456225,-0.810800,-1.244738,0.059135,0.013650,0.000275,0.004779
L23012001/09,13.0,28.409615,93084.346154,3.940958,14.320935,6.499880e+05,18465.269231,3.665158,2.278462,0.034787,1.949638,0.666762,0.912554,1.321204,0.046006,0.019052,0.000130,0.002937
L23012002/03,13.0,33.400000,63926.111111,-0.228311,9.380394,6.810642e+05,22691.388889,-0.430061,2.460556,0.099083,-1.594706,-0.045078,-0.217089,-0.431450,0.042682,0.009440,0.000063,0.002071
L23012002/06,13.0,27.850000,40780.875000,-2.094288,5.818850,7.008400e+05,19517.875000,-2.416138,2.002500,-1.226196,-0.354475,-0.673238,-0.605450,-0.467713,0.040385,-0.020063,-0.000055,0.001726

In [156]:
# Stock_price_week[np.isfinite(Stock_price_week['NCSKEW'])==False]

In [157]:
# len(Financial_statement[np.isfinite(Financial_statement['NCSKEW'])==False])

<font size="6">將借券餘額合併</font> 200411/30~2023/04/28

In [158]:
# Use_report_date=[]
# for od in Stock_lending["年月日"]:
#     Use_report_date.append(date_dic[od])

In [159]:
Stock_lending

       公司代碼   簡稱  TSE 產業別         年月日  合計-借券餘額(千股)            Id_s
0      1101   台泥        1  2004/12/31         9000  11012004/12/31
1      5346   力晶       24  2004/12/31          414  53462004/12/31
2      3012   廣輝       13  2004/12/31        21160  30122004/12/31
3      3009  奇美電       26  2004/12/31         5000  30092004/12/31
4      2475   華映       26  2004/12/31        21000  24752004/12/31
...     ...  ...      ...         ...          ...             ...
56141  2064   晉椿       10  2023/03/31           52  20642023/03/31
56142  2065   世豐       10  2023/03/31          231  20652023/03/31
56143  2066   世德        5  2023/03/31          222  20662023/03/31
56144  1813  寶利徠       22  2023/03/31           97  18132023/03/31
56145  9962   有益       10  2023/03/31          626  99622023/03/31

[56146 rows x 6 columns]

In [160]:
Stock_lending['id']=Stock_lending['Id_s'].str.rsplit(pat="/",n=1,expand=True)[0]

In [161]:
# Stock_lending['財報使用年度']=Use_report_date

In [162]:
# Stock_lending['id']=Stock_lending["公司代碼"].astype('str')+Stock_lending["財報使用年度"]

In [163]:
Stock_lending

,公司代碼,簡稱,TSE 產業別,年月日,合計-借券餘額(千股),Id_s,id
0,1101,台泥,1,2004/12/31,9000,11012004/12/31,11012004/12
1,5346,力晶,24,2004/12/31,414,53462004/12/31,53462004/12
2,3012,廣輝,13,2004/12/31,21160,30122004/12/31,30122004/12
3,3009,奇美電,26,2004/12/31,5000,30092004/12/31,30092004/12
4,2475,華映,26,2004/12/31,21000,24752004/12/31,24752004/12
...,...,...,...,...,...,...,...
56141,2064,晉椿,10,2023/03/31,52,20642023/03/31,20642023/03
56142,2065,世豐,10,2023/03/31,231,20652023/03/31,20652023/03
56143,2066,世德,5,2023/03/31,222,20662023/03/31,20662023/03
56144,1813,寶利徠,22,2023/03/31,97,18132023/03/31,18132023/03
56145,9962,有益,10,2023/03/31,626,99622023/03/31,99622023/03

In [164]:
#將借券餘額合併
Financial_statement=pd.merge(Financial_statement,Stock_lending,on='id',how='left')

In [165]:
Financial_statement.isnull().sum()

公司                   0
簡稱_x                 0
TSE 產業別_x            0
年/月                  0
季別                   0
負債比例                 0
資產報酬率                0
前期遞延所得稅              0
遞延所得稅變化額             0
現金有效稅率               0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸         0
id                   0
原始標準差            36960
週轉率％             36806
去趨勢平均週轉率％        37076
股價淨值比-TEJ        36806
流通在外股數(千股)       36806
報酬率％             36806
市值(百萬元)          36806
大盤標準差            25708
大盤週轉率            25708
大盤成交量(千股)        25708
n                42291
公司獨有報酬率％         42291
公司獨有報酬率標準差       42406
sum公司獨有報酬率％^3    42291
sum公司獨有報酬率％^2    42291
NCSKEW           42406
公司代碼             88684
簡稱_y             88684
TSE 產業別_y        88684
年月日              88684
合計-借券餘額(千股)      88684
Id_s             88684
dtype: int64

In [166]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 34 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   公司             144803 non-null  object
 1   簡稱_x           144803 non-null  object
 2   TSE 產業別_x      144803 non-null  int64
 3   年/月            144803 non-null  object
 4   季別             144803 non-null  int64
 5   負債比例           144803 non-null  float64
 6   資產報酬率          144803 non-null  float64
 7   前期遞延所得稅        144803 non-null  float64
 8   遞延所得稅變化額       144803 non-null  float64
 9   現金有效稅率         144803 non-null  float64
 10  財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸   144803 non-null  float64
 11  id             144803 non-null  object
 12  原始標準差          107843 non-null  float64
 13  週轉率％           107997 non-null  float64
 14  去趨勢平均週轉率％      107727 non-null  float64
 15  股價淨值比-TEJ      107997 non-null  float64
 16  流通在外股數(千股)     107997 non-null  float64
 17  報酬率％           107997 non-null  float64
 18  市值(百萬元)        107997 non-null  float64
 19  大盤標準差          119095 non-null  float64
 20  大盤週轉率          119095 non-null  float64
 21  大盤成交量(千股)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  公司獨有報酬率％       102512 non-null  float64
 24  公司獨有報酬率標準差     102397 non-null  float64
 25  sum公司獨有報酬率％^3  102512 non-null  float64
 26  sum公司獨有報酬率％^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
 28  公司代碼           56119 non-null   float64
 29  簡稱_y           56119 non-null   object
 30  TSE 產業別_y      56119 non-null   float64
 31  年月日            56119 non-null   object
 32  合計-借券餘額(千股)    56119 non-null   float64
 33  Id_s           56119 non-null   object
dtypes: float64(25), int64(2), object(7)
memory usage: 38.7+ MB

In [167]:
Financial_statement.drop(['簡稱_y','TSE 產業別_y','公司代碼','Id_s','年月日'],axis=1,inplace=True)
Financial_statement=Financial_statement.rename(columns={'簡稱_x': '簡稱','TSE 產業別_x': 'TSE 產業別'})

In [168]:
Financial_statement['合計-借券餘額(千股)'].fillna(value=0, inplace=True)

<font size="6">將經理人持股合併</font>

In [169]:
Manager_holding=Manager_holding.rename(columns={'Id_m': 'id'})

In [170]:
Manager_holding

,公司代碼,簡稱,TSE 產業別,年月日,經理人持股%,經理人持股% (含兼董監),經理人總持股%,經理人總持股% (含兼董監),id
0,1101,台泥,1,1993/03,0.08,0.08,0.08,0.08,11011993/03
1,1102,亞泥,1,1993/03,0.00,0.02,0.00,0.02,11021993/03
2,1103,嘉泥,1,1993/03,0.04,0.39,0.04,0.39,11031993/03
3,1104,環泥,1,1993/03,0.13,0.14,0.13,0.14,11041993/03
4,1108,幸福,1,1993/03,0.15,4.86,0.15,4.86,11081993/03
...,...,...,...,...,...,...,...,...,...
148443,6594,展匯科,24,2022/12,1.36,1.36,1.36,1.36,65942022/12
148444,8287,英格爾,28,2022/12,0.09,0.14,0.09,0.14,82872022/12
148445,5801,第一金投,20,2023/03,0.00,0.00,0.00,0.00,58012023/03
148446,5901,中友,18,2023/03,1.38,1.38,1.38,1.38,59012023/03
148447,8287,英格爾,28,2023/03,0.09,0.14,0.09,0.14,82872023/03

In [171]:
Financial_statement

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元),大盤標準差,大盤週轉率,大盤成交量(千股),n,公司獨有報酬率％,公司獨有報酬率標準差,sum公司獨有報酬率％^3,sum公司獨有報酬率％^2,NCSKEW,合計-借券餘額(千股)
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0

In [172]:
#將借券餘額合併
Financial_statement=pd.merge(Financial_statement,Manager_holding,on='id',how='left')

In [173]:
Financial_statement.isnull().sum()

公司                    0
簡稱_x                  0
TSE 產業別_x             0
年/月                   0
季別                    0
負債比例                  0
資產報酬率                 0
前期遞延所得稅               0
遞延所得稅變化額              0
現金有效稅率                0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸          0
id                    0
原始標準差             36960
週轉率％              36806
去趨勢平均週轉率％         37076
股價淨值比-TEJ         36806
流通在外股數(千股)        36806
報酬率％              36806
市值(百萬元)           36806
大盤標準差             25708
大盤週轉率             25708
大盤成交量(千股)         25708
n                 42291
公司獨有報酬率％          42291
公司獨有報酬率標準差        42406
sum公司獨有報酬率％^3     42291
sum公司獨有報酬率％^2     42291
NCSKEW            42406
合計-借券餘額(千股)           0
公司代碼               7709
簡稱_y               7709
TSE 產業別_y          7709
年月日                7709
經理人持股%             7709
經理人持股% (含兼董監)      7709
經理人總持股%            7709
經理人總持股% (含兼董監)     7709
dtype: int64

In [174]:
Financial_statement

,公司,簡稱_x,TSE 產業別_x,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元),大盤標準差,大盤週轉率,大盤成交量(千股),n,公司獨有報酬率％,公司獨有報酬率標準差,sum公司獨有報酬率％^3,sum公司獨有報酬率％^2,NCSKEW,合計-借券餘額(千股),公司代碼,簡稱_y,TSE 產業別_y,年月日,經理人持股%,經理人持股% (含兼董監),經理人總持股%,經理人總持股% (含兼董監)
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1222,源益,2.0,1993/06,7.61,22.74,7.61,22.74
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1221,久津,2.0,1993/06,0.00,12.59,0.00,12.59
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1212,中日,2.0,1993/06,0.03,1.76,0.03,1.76
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1209,益華,2.0,1993/06,3.51,3.51,3.51,3.51
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0,3443,創意,24.0,2023/03,0.02,0.02,0.02,0.02
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0,3437,榮創,26.0,2023/03,1.05,1.05,1.05,1.05
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,3432,台端,28.0,2023/03,8.83,24.26,8.83,24.26
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0,3515,華擎,25.0,2023/03,3.07,3.07,3.07,3.07
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,9962,有益,10.0,2023/03,0.20,0.20,0.20,0.20

In [175]:
Financial_statement.drop(['簡稱_y','TSE 產業別_y','公司代碼','年月日','經理人持股%','經理人總持股% (含兼董監)','經理人總持股%'],axis=1,inplace=True)
Financial_statement=Financial_statement.rename(columns={'簡稱_x': '簡稱','TSE 產業別_x': 'TSE 產業別'})

In [176]:
Financial_statement

,公司,簡稱,TSE 產業別,年/月,季別,負債比例,資產報酬率,前期遞延所得稅,遞延所得稅變化額,現金有效稅率,財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸,id,原始標準差,週轉率％,去趨勢平均週轉率％,股價淨值比-TEJ,流通在外股數(千股),報酬率％,市值(百萬元),大盤標準差,大盤週轉率,大盤成交量(千股),n,公司獨有報酬率％,公司獨有報酬率標準差,sum公司獨有報酬率％^3,sum公司獨有報酬率％^2,NCSKEW,合計-借券餘額(千股),經理人持股% (含兼董監)
0,1222,源益,2,1993/06,2,0.000000,0.048169,0.0,0.0,0.328695,0.096597,12221993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.74
1,1221,久津,2,1993/06,2,0.093518,0.002793,5977.0,0.0,0.209205,0.077950,12211993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.59
2,1212,中日,2,1993/06,2,0.096556,0.001196,166293.0,0.0,0.032033,0.084917,12121993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.76
3,1209,益華,2,1993/06,2,0.021016,0.077447,17522.0,0.0,0.056290,0.102882,12091993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.51
4,1306,合發,3,1993/06,2,1.424709,-0.037284,6909.0,0.0,-0.000000,0.091801,13061993/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144798,3443,創意,24,2023/03,1,0.025422,0.045086,116463.0,875.0,0.165504,0.146465,34432023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8698.0,0.02
144799,3437,榮創,26,2023/03,1,0.028282,-0.016157,4604.0,1632.0,0.020622,0.143145,34372023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,994.0,1.05
144800,3432,台端,28,2023/03,1,0.000871,-0.004399,0.0,3.0,0.093689,0.055808,34322023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,24.26
144801,3515,華擎,25,2023/03,1,0.007786,0.007809,2159.0,-1805.0,0.480198,0.127897,35152023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3014.0,3.07
144802,9962,有益,10,2023/03,1,0.006782,0.030127,45.0,-5.0,0.251271,0.285663,99622023/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,0.20

In [177]:
Financial_statement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144803 entries, 0 to 144802
Data columns (total 30 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   公司             144803 non-null  object
 1   簡稱             144803 non-null  object
 2   TSE 產業別        144803 non-null  int64
 3   年/月            144803 non-null  object
 4   季別             144803 non-null  int64
 5   負債比例           144803 non-null  float64
 6   資產報酬率          144803 non-null  float64
 7   前期遞延所得稅        144803 non-null  float64
 8   遞延所得稅變化額       144803 non-null  float64
 9   現金有效稅率         144803 non-null  float64
 10  財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸   144803 non-null  float64
 11  id             144803 non-null  object
 12  原始標準差          107843 non-null  float64
 13  週轉率％           107997 non-null  float64
 14  去趨勢平均週轉率％      107727 non-null  float64
 15  股價淨值比-TEJ      107997 non-null  float64
 16  流通在外股數(千股)     107997 non-null  float64
 17  報酬率％           107997 non-null  float64
 18  市值(百萬元)        107997 non-null  float64
 19  大盤標準差          119095 non-null  float64
 20  大盤週轉率          119095 non-null  float64
 21  大盤成交量(千股)      119095 non-null  float64
 22  n              102512 non-null  float64
 23  公司獨有報酬率％       102512 non-null  float64
 24  公司獨有報酬率標準差     102397 non-null  float64
 25  sum公司獨有報酬率％^3  102512 non-null  float64
 26  sum公司獨有報酬率％^2  102512 non-null  float64
 27  NCSKEW         102397 non-null  float64
 28  合計-借券餘額(千股)    144803 non-null  float64
 29  經理人持股% (含兼董監)  137094 non-null  float64
dtypes: float64(24), int64(2), object(4)
memory usage: 34.2+ MB

In [178]:
Financial_statement.isnull().sum()

公司                   0
簡稱                   0
TSE 產業別              0
年/月                  0
季別                   0
負債比例                 0
資產報酬率                0
前期遞延所得稅              0
遞延所得稅變化額             0
現金有效稅率               0
財務不透明度𝑂𝑃𝐴𝑄𝑈𝐸         0
id                   0
原始標準差            36960
週轉率％             36806
去趨勢平均週轉率％        37076
股價淨值比-TEJ        36806
流通在外股數(千股)       36806
報酬率％             36806
市值(百萬元)          36806
大盤標準差            25708
大盤週轉率            25708
大盤成交量(千股)        25708
n                42291
公司獨有報酬率％         42291
公司獨有報酬率標準差       42406
sum公司獨有報酬率％^3    42291
sum公司獨有報酬率％^2    42291
NCSKEW           42406
合計-借券餘額(千股)          0
經理人持股% (含兼董監)     7709
dtype: int64

In [179]:
# df.drop()

In [180]:
Financial_statement.to_csv(r"C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\論文資料週處理最終版-ncskew財報為主.txt",sep='\t', index=False)