In [4]:
import pandas as pd
import numpy as np

In [29]:
Manager_holding=pd.read_table(r"C:\Users\USER\Desktop\論文\原始資料上市下市\持股比例(季)上下市櫃董監全體持股.txt",encoding = 'ANSI')

In [32]:
Manager_holding[Manager_holding['公司代碼']=='1101']

,公司代碼,簡稱,TSE 產業別,年月日,經理人持股%,經理人持股% (含兼董監),經理人總持股%,經理人總持股% (含兼董監)
0,1101,台泥,1,1993/03,0.08,0.08,0.08,0.08
242,1101,台泥,1,1993/06,0.08,0.08,0.08,0.08
496,1101,台泥,1,1993/09,0.09,0.09,0.09,0.09
751,1101,台泥,1,1993/12,0.09,0.09,0.09,0.09
1014,1101,台泥,1,1994/03,0.09,0.09,0.09,0.09
...,...,...,...,...,...,...,...,...
144164,1101,台泥,1,2022/03,0.12,0.12,0.13,0.13
145895,1101,台泥,1,2022/06,0.12,0.12,0.15,0.15
147624,1101,台泥,1,2022/09,0.11,0.11,0.14,0.14
149350,1101,台泥,1,2022/12,0.10,0.10,0.13,0.13
151075,1101,台泥,1,2023/03,0.10,0.10,0.13,0.13

In [7]:
Manager_holding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156898 entries, 0 to 156897
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   公司代碼            156898 non-null  object
 1   簡稱              156898 non-null  object
 2   TSE 產業別         156898 non-null  int64
 3   年月日             156898 non-null  object
 4   經理人持股%          156898 non-null  float64
 5   經理人持股% (含兼董監)   156898 non-null  float64
 6   經理人總持股%         156898 non-null  float64
 7   經理人總持股% (含兼董監)  156898 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 9.6+ MB

In [22]:
len(Manager_holding["公司代碼"])

465194

In [31]:
Manager_holding["公司代碼"]=Manager_holding["公司代碼"].astype(str)
Manager_holding['公司代碼'].replace('\s+','',regex=True,inplace=True)
Manager_holding["簡稱"]=Manager_holding["簡稱"].astype(str)
Manager_holding['簡稱'].replace('\s+','',regex=True,inplace=True)

In [10]:
Manager_holding.drop(Manager_holding[Manager_holding["TSE 產業別"]==17].index,inplace=True)
Manager_holding.reset_index(drop=True,inplace=True)

In [11]:
Manager_holding["Id_m"]=Manager_holding["公司代碼"].astype(str)+Manager_holding["年月日"]

In [12]:
Manager_holding

,公司代碼,簡稱,TSE 產業別,年月日,經理人持股%,經理人持股% (含兼董監),經理人總持股%,經理人總持股% (含兼董監),Id_m
0,1101,台泥,1,1993/03,0.08,0.08,0.08,0.08,11011993/03
1,1102,亞泥,1,1993/03,0.00,0.02,0.00,0.02,11021993/03
2,1103,嘉泥,1,1993/03,0.04,0.39,0.04,0.39,11031993/03
3,1104,環泥,1,1993/03,0.13,0.14,0.13,0.14,11041993/03
4,1108,幸福,1,1993/03,0.15,4.86,0.15,4.86,11081993/03
...,...,...,...,...,...,...,...,...,...
148443,6594,展匯科,24,2022/12,1.36,1.36,1.36,1.36,65942022/12
148444,8287,英格爾,28,2022/12,0.09,0.14,0.09,0.14,82872022/12
148445,5801,第一金投,20,2023/03,0.00,0.00,0.00,0.00,58012023/03
148446,5901,中友,18,2023/03,1.38,1.38,1.38,1.38,59012023/03
148447,8287,英格爾,28,2023/03,0.09,0.14,0.09,0.14,82872023/03

In [13]:
Manager_holding.to_csv(r'C:\Users\USER\Desktop\論文\程式碼\周資料月處理\整理資料\持股比例(月)_整理.txt',sep='\t', encoding="utf-8",index=False)

In [11]:
type(Manager_holding['公司代碼'][131565])

str

In [12]:
Manager_holding['公司代碼'][0]

'1101'

In [13]:
Manager_holding['公司代碼'][131565]

'3189'